---
swagger: "2.0"
info:
  title: Context API
  version: 1.0.0
  description: "The Offers API retrieves the list of Avis Budget Group multi-brand\
    \ car rental offers for the given search. The response can include the availability\
    \ of vehicles, rates with promos and discounts whenever applicable.\r\n\r\nContextualized\
    \ offers are provided based on offer and journey preferences."
host: partner.abgapiservices.com
basePath: /cars/v1
consumes:
- application/json
produces:
- application/json
paths:
  /offers:
    post:
      parameters:
      - name: body
        schema:
          $ref: '#/definitions/offers_request'
        in: body
        required: true
      responses:
        "200":
          description: Token generated for the search context with a time bound flag.
            This will be further used by the distribution channels like WhiteLabel
            or Mircosites to retreieve the search context.
          schema:
            $ref: '#/definitions/context_response'
          examples:
            application/json:
              status:
                request_time: 2018-10-25T12:01:54Z
                success:
                - code: "201"
                  message: Success
                  details: The context was successfully created.
              transaction:
                id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
                system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
              context:
                id: 227a19346-43e1-11e9-95ce-e6a7a0e31net
        "400":
          description: 400 Bad Request is returned when the request could not be understood
            by the server. 400 includes missing required values, invalid data types,
            minimum/maximum values, ranges and format.
          schema:
            $ref: '#/definitions/error_400'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "400"
                  message: Bad Request
                  reason: invalid_request
                  details: '- Missing required field ''brand'''
                - code: "400"
                  message: Bad Request
                  reason: invalid_request
                  details: '- Invalid element <AVIS>.'
                - code: "14528"
                  message: Bad Request
                  reason: Invalid rate_code.
                  details: Rate Code entered is invalid.
                - code: "14184"
                  message: Bad Request
                  reason: Last name and customer id combination is invalid.
                  details: 'Last name does not match the wizard number '
                - code: "14441"
                  message: Bad Request
                  reason: Bad Request
                  details: Bad Request
                - code: "1112"
                  message: Bad Request
                  reason: Invalid coupon_code and IATA number combination.
                  details: This coupon requires an IATA / ARC number.  Please enter
                    your number below or remove the coupon from this reservation.
                - code: "14299"
                  message: Bad Request
                  reason: Bad Request
                  details: Invalid insurance details
                - code: "13213"
                  message: Bad Request
                  reason: Country Code is invalid
                  details: Please enter a valid Country Code.
                - code: "14442"
                  message: Bad Request
                  reason: RENTAL DURATION LESS THAN MINIMUM
                  details: RENTAL DURATION LESS THAN MINIMUM
                - code: "1103"
                  message: Bad Request
                  reason: Invalid Country/Coupon Code
                  details: This station does not participate.  Valid at corporate/participating
                    licensees in the U.S. (excluding Alaska, Hawaii and the New York
                    Metro), Canada, Australia, New Zealand, France, Puerto Rico, United
                    Kingdom and U.S. Virgin Islands.
                - code: "14372"
                  message: Bad Request
                  reason: Invalid coupon_code
                  details: The Coupon Number entered is invalid.
                - code: "14374"
                  message: Bad Request
                  reason: coupon_code is invalid for the given time frame.
                  details: The Coupon Number entered does not meet the minimum days
                    requirement. Please check the terms and conditions or remove to
                    continue this reservation.
                - code: "19076"
                  message: Bad Request
                  reason: Invalid loyalty_code membership_code
                  details: Membership Number entered is invalid.
                - code: "235"
                  message: Bad Request
                  reason: loyalty_code and loyalty_company_id are required parameters
                    for the selection of Frequent Travel Program.
                  details: If you have selected a Frequent Traveler Program, than
                    you must enter a Membership Number
                - code: "14075"
                  message: Bad Request
                  reason: RateCode requires a valid discount number in the request.
                  details: ' The rate code you entered requires a discount number.
                    Please go back and enter your discount number or remove the rate
                    code you entered.'
                - code: "1798"
                  message: Bad Request
                  reason: Invalid discount_number.
                  details: Invalid AWD
                - code: "14022"
                  message: Bad Request
                  reason: Invalid vehicle_class_code
                  details: Requested Car Group is invalid.
                - code: "12012"
                  message: Bad Request
                  reason: Invalid city
                  details: MSGCD_E_WIZ_CITY_NAME_REQUIRED
                - code: "14105"
                  message: Bad Request
                  reason: Invalid rate_code.
                  details: Invalid Vehicle rate code and class code combination for
                    the provided brand.
                - code: "208"
                  message: Bad Request
                  reason: Invalid customer_id.
                  details: Invalid Wizard number for the customer.
                - code: "205"
                  message: Bad Request
                  reason: Invalid dropoff_location.
                  details: Invalid Drop off location
                - code: "203"
                  message: Bad Request
                  reason: Invalid pickup_location.
                  details: Invalid Pick up location
                - code: "231"
                  message: Bad Request
                  reason: Invalid pickup_date.
                  details: You selected a date/time prior to the current time
                - code: "232"
                  message: Bad Request
                  reason: dropoff_date is prior to pickup_date.
                  details: Return Date cannot be prior or same to the Pick-Up Date
                - code: "237"
                  message: Bad Request
                  reason: Invalid flight carrier_name.
                  details: Please select valid Airline
                - code: "239"
                  message: Bad Request
                  reason: Invalid filght carrier_code.
                  details: Please enter a valid flight number. Flight Number format
                    is a maximum 4 numbers. Please omit letters from your flight number
                - code: "234"
                  message: Bad Request
                  reason: Invalid frequent_flyer_number.
                  details: If you have entered a Membership Number, then you must
                    select a Frequent Traveler Program.
                - code: "209"
                  message: Bad Request
                  reason: Invalid coupon_number.
                  details: Please enter a valid Coupon Number.
                - code: "216"
                  message: Bad Request
                  reason: Invalid discount_number.
                  details: The discount number is invalid for the given Avis.
                - code: "150004"
                  message: Bad Request
                  reason: last_name and confirmation_number combination is invalid.
                  details: Last name entered does not match with the confirmation
                    number
                - code: "19082"
                  message: Bad Request
                  reason: Bad Request
                  details: Bad Request from e-Com backend.
                - code: "1122"
                  message: Bad Request
                  reason: Coupon_code is expired.
                  details: Coupon requires a minimum length of 3 days. Please select
                    a rate to continue (coupon will be removed).
                - code: "300100"
                  message: Bad Request
                  reason: PrePayReservationCurrency must be required
                  details: PrePayReservationCurrency must be required
                - code: "300101"
                  message: Bad Request
                  reason: PrePayReservationAmount must be required
                  details: PrePayReservationAmount must be required
                - code: "300111"
                  message: Bad Request
                  reason: Prepay information details are required for the Prepay type.
                  details: Prepay Information must be required.
                - code: "900909"
                  message: Bad Request
                  reason: cvv is invalid for the provided Credit Card.
                  details: cvv is invalid for the provided Credit Card.
                - code: "300102"
                  message: Bad Request
                  reason: Credit Card details are mandatory.
                  details: Valid Credit Card Details must be required
                - code: "14220"
                  message: Bad Request
                  reason: Payment details are invalid.
                  details: The number either doesn't match the card type or is the
                    wrong length. Please check your entries and try again
                - code: "215"
                  message: Bad Request
                  reason: Invalid email.
                  details: Invalid email address
                - code: "14025"
                  message: Bad Request
                  reason: Bad Request.
                  details: Bad Request from e-Com backend.
                - code: "19001"
                  message: Bad Request
                  reason: country_code,state_name and postal_code combination is invalid.
                  details: Invalid zip code.
                - code: "212"
                  message: Bad Request
                  reason: last_name is required.
                  details: Last Name is required
                - code: "210"
                  message: Bad Request
                  reason: first_name is mandatory.
                  details: First Name is required
                - code: "14126"
                  message: Bad Request
                  reason: dropoff_date and pickup_date combination is invalid.
                  details: Pick-up Date can not be after Return Date.
                - code: "14129"
                  message: Bad Request
                  reason: Invalid pickup_date.
                  details: pickup_date is less than the current date.
                - code: "226"
                  message: Bad Request
                  reason: Invalid dropoff_location.
                  details: There are no locations available for your Return address.
                - code: "225"
                  message: Bad Request
                  reason: Invalid pickup_location.
                  details: There are no locations available for your Pick-up address.
                - code: "227"
                  message: Bad Request
                  reason: Invalid pickup_location and dropoff_location.
                  details: Sorry! No Avis locations are available in address provided.
                - code: "219"
                  message: Bad Request
                  reason: Missing partner_country_code.
                  details: Country of residence is required.
                - code: "19074"
                  message: Bad Request
                  reason: Invalid Vehicle rate code and class code combination for
                    the provided brand.
                  details: ' Rate Code entered is invalid.'
                - code: "1005"
                  message: Bad Request
                  reason: 'e-Com rejected the request due to data issue. '
                  details: Request is invalid.
                - code: "1109"
                  message: Bad Request
                  reason: Coupon is applicable only for certain discount types.
                  details: 'This coupon requires one of the following discount number
                    types: {0}.'
                - code: "1203"
                  message: Bad Request
                  reason: Invalid coupon and discount combination.
                  details: This coupon {0} may only be used with a specific AWD number
                    (see offer terms). Please enter this AWD number to continue or
                    select from available cars to continue without the coupon.
                - code: "1124"
                  message: Bad Request
                  reason: Invalid coupon and brand combination.
                  details: This coupon may only be used on  W G car groups. Please
                    select from one of these groups or select a different one to proceed
                    without the coupon.
                - code: "200"
                  message: Bad Request
                  reason: Brand is a required field.
                  details: Brand is a required field.
                - code: "202"
                  message: Bad Request
                  reason: pickup_location is a required field.
                  details: pickup_location is a required field.
                - code: "206"
                  message: Bad Request
                  reason: pickup_location is a required field.
                  details: pickup_location is a required field.
                - code: "204"
                  message: Bad Request
                  reason: dropoff_location is a required field.
                  details: dropoff_location is a required field.
                - code: "207"
                  message: Bad Request
                  reason: dropoff_location is a required field.
                  details: dropoff_location is a required field.
                - code: "217"
                  message: Bad Request
                  reason: vehicle_class_code is a required field.
                  details: vehicle_class_code is a required field and it is associated
                    with rate_code.
                - code: "218"
                  message: Bad Request
                  reason: rate_code is a required field.
                  details: rate_code is a required field and it is associated with
                    the vehicle_class_code.
                - code: "220"
                  message: Bad Request
                  reason: Confirmation Number is required field.
                  details: Confirmation Number is required field.
                - code: "22224"
                  message: Bad Request
                  reason: A One-Way Rental between given pickup_location and dropoff_location
                    is not available
                  details: A One-Way Rental between these 2  locations cannot be booked
                    online.
        "404":
          description: 404 Not Found is returned when server cannot find the matching
            request URI (either due to no results, or because of a non-existent endpoint
            or resource). Server may also respond with this status code when there
            is 401 or 403, which the service wants to mask for security reasons.
          schema:
            $ref: '#/definitions/error_404'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "404"
                  message: Resource Not Found
                  reason: resource_failure
                  details: Server cannot find the requested resource. This may be
                    due to incorrect URI or a resource that is not available.
                - code: "223"
                  message: Not Found
                  reason: Invalid pickup_location.
                  details: The pick-up location entered is Sold Out for the dates
                    you have entered
                - code: "14381"
                  message: Not Found
                  reason: 'A One-Way Rental between given pickup_location and dropoff_location
                    is not available '
                  details: 'A One-Way Rental between given pickup_location and dropoff_location
                    is not available '
                - code: "226"
                  message: Not Found
                  reason: Invalid dropoff_location.
                  details: There are no locations available for your Return address.
                - code: "225"
                  message: Not Found
                  reason: Invalid pickup_location.
                  details: There are no locations available for your Pick-up address.
                - code: "227"
                  message: Not Found
                  reason: Invalid pickup_location and dropoff_location.
                  details: Sorry! No <brand> locations are available in address provided.
        "405":
          description: A request method is not supported for the requested resource;
            for example, a GET request on a form that requires data to be presented
            via POST, or a PUT request on a read-only resource.
          schema:
            $ref: '#/definitions/error_405'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "405"
                  message: Method Not Allowed
                  reason: Method Not Allowed
                  details: org.mule.module.apikit.exception.MethodNotAllowedException
        "406":
          description: The requested resource is capable of generating only content
            not acceptable according to the Accept headers sent in the request.
          schema:
            $ref: '#/definitions/error_406'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "406"
                  message: Not Accecptable
                  reason: Not Accecptable
                  details: org.mule.module.apikit.exception.NotAcceptableException
        "415":
          description: The request entity has a media type which the server or resource
            does not support. For example, the client uploads an image as image/svg+xml,
            but the server requires that images use a different format.
          schema:
            $ref: '#/definitions/error_415'
          examples:
            application/json:
              status:
                request_time: 2018-10-17T13:05:10Z
                request_errors: 1
                errors:
                - code: "415"
                  message: Unsupported Media Type
                  reason: Unsupported Media Type
                  details: org.mule.module.apikit.exception.UnsupportedMediaTypeException
        "500":
          description: 500 Internal Server Error is returned when a system or application
            error has occurred. It generally indicates that something unexpected has
            gone wrong on the server. This is used for a standard server side exception
            for a persistent error on the server side.
          schema:
            $ref: '#/definitions/error_500'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "40018"
                  message: Service exception
                  reason: Service exception
                  details: Socket timeout from IMS Connect
                - code: "610"
                  message: Service exception
                  reason: System exception from e-com backend.
                  details: System Exception occurred during location search.Please
                    check the log for details.
      security:
      - OAuth2.0: []
      summary: /offers
    parameters:
    - name: client_id
      description: Your client identifier
      in: header
      required: true
      type: string
      maxLength: 50
      minLength: 8
definitions:
  age:
    title: Age
    description: Driver’s age. This might influence the rates. Will be superseded
      by date of birth found in the profile provided in “membership_code”
    type: number
    example: 25
  code:
    description: ""
    type: string
  amount:
    description: ""
    type: number
    example: "123.45"
  channel:
    title: Consumer channel
    description: "Consumer channel information. This information could be used for\
      \ personalization whenever applicable. \r\n  website - Standard website accessed\
      \ by the end user\r\n  agent_tool - Agent tool used by travel agent / Call centres\
      \ / retailers\r\n  mobile_app - Native mobile app accessed by the end user"
    enum:
    - website
    - mobile_app
    - agent_tool
    type: string
    example: website
  driver:
    title: Driver of the vehicle
    description: Indicator to represent the primary or secondary driver of the vehicle.
    enum:
    - primary
    - secondary
    type: string
    example: primary
  dropoff_location:
    description: Rental car dropoff location code.
    type: string
    example: EW
  hour:
    title: Hour
    description: Hours in 24 hours ISO 8601 format.
    pattern: ^(?<hour>2[0-3]|[01][0-9]):?(?<minute>[0-5][0-9])$
    type: string
    example: 14:30
  personalization:
    title: Personalization
    description: Provision to enable personalized offers.
    default: false
    type: boolean
    example: true
  pickup_location:
    description: Rental car pickup location code.
    type: string
    example: EWR
  quantity:
    type: number
    example: 1
  success_details:
    title: Success details
    description: Success response metadata for all the rest APIs.
    type: array
    items:
      type: object
      properties:
        code:
          description: The HTTP status code value
          type: string
        message:
          description: The HTTP status code message
          type: string
        details:
          description: Description of the success status
          type: string
  transaction_id:
    title: Transaction identifier
    description: The transaction identifier used to identify and troubleshoot a given
      request.
    type: string
    example: 391117cf-4470-4353-8b51-f00c3c098943
  type:
    type: string
  train_class:
    title: Fare Class
    description: Passenger chosen train class code.
    enum:
    - first
    - second
    type: string
    example: first
  train_code:
    allOf:
    - $ref: '#/definitions/code'
    - title: Train Code
    - description: Passenger chosen train code.
  error_details:
    description: ' The following describes the elements that can appear in the response
      body of an error.'
    type: array
    items:
      type: object
      properties:
        code:
          description: The error code value
          type: string
        message:
          description: The HTTP status code message
          type: string
        reason:
          description: The reason the request has failed
          type: string
        details:
          description: Description of the error
          type: string
  error_response:
    required:
    - status
    type: object
    properties:
      status:
        allOf:
        - $ref: '#/definitions/error_status'
        - description: A container for the error details
  membership:
    title: Frequent Traveler Programs (FTPs)
    description: The Frequent Traveler Program (FTP) to be applied to the reservation.
      This entitles the user the opportunity to earn miles or points with ABG partners,
      such as airlines, hotels and other select companies. For example, the Lufthansa
      Miles & More Rewards Program. Surcharges may apply.
    type: object
    properties:
      code:
        title: Frequent Traveler Program number
        description: The unique Frequent Traveler Program (FTP) number of the traveler.
        type: string
        example: M21R322
  partner_loyalty:
    title: Partner Loyalty
    description: The partner loyalty discount program. The partner loyalty to be applied
      to drive the rate of booking.
    type: object
    properties:
      program:
        title: Partner Program Name
        description: Valid partner loyalty program from the user request, as agreed
          by partner integration.
        type: string
        example: Platinum
  partner_discount:
    title: Partner Discount
    description: 'The partner commercial discount program. The discount to be applied
      to drive the rate of the booking. '
    type: object
    properties:
      program:
        title: Commercial Discount Name
        description: Valid partner discount name from the user request, as agreed
          by partner integration.
        type: string
        example: VIP
  arrival_train:
    title: Arrival Train
    description: Arrival Train information including the arrival datetime, location
      and travel preference.
    required:
    - date
    - location
    type: object
    properties:
      date:
        allOf:
        - $ref: '#/definitions/date_time'
        - title: Arrival date
        - description: ISO 8601 date and time of Train arrival in UTC. This can be
            used as the vehicle rental pickup date time.
        example: 2019-05-04T20:14:45.000Z
      location:
        allOf:
        - $ref: '#/definitions/location_code'
        - title: Arrival airport code
        - description: Valid train station codes from the request, as agreed by partner
            integration. This is used to map the vehicle rental pickup location.
        example: LHR
      code:
        allOf:
        - $ref: '#/definitions/train_code'
        - title: Train Code
        - description: Valid train operator codes from the request, as agreed by partner
            integration.
        example: TGV
      number:
        title: Train Number
        description: The number assigned to the train carrier.
        type: number
        example: 82739
      class:
        allOf:
        - $ref: '#/definitions/train_class'
        - title: Fare Class
        - description: Booking Fare class.
        example: first
  train_journey:
    title: Train journey
    description: Train journey information including the arrival, departure and journey
      type.
    required:
    - arrival
    type: object
    properties:
      arrival:
        allOf:
        - $ref: '#/definitions/arrival_train'
        - title: Arrival Train information
      departure:
        allOf:
        - $ref: '#/definitions/departure_train'
        - title: Departure Train information
      journey_type:
        allOf:
        - $ref: '#/definitions/journey_type'
        - title: Travel journey type
        - description: Indicator to represent the one-way or return journey type.
        example: oneway
      order_id:
        title: Order Identifier
        description: The travel basket order identifier. It is for correlation and
          correspondence. Order identifier could be a passenger name record(PNR) or
          reservation or basket identifier.
        type: string
        example: "9604159470"
      secondary_reference:
        title: Secondary Reference
        description: The travel basket secondary reference. It is a secondary reference
          for correlation and correspondence.
        type: string
        example: 3471c7bc-cc3a-4d82-a23c-0157c2d8aba8
  departure_train:
    description: Departure train information including the departure datetime, location
      and travel preference.
    type: object
    properties:
      date:
        allOf:
        - $ref: '#/definitions/date_time'
        - title: Departure date
        - description: Train journey departure ISO 8601 date and time UTC. This is
            used as the vehicle rental  dropoff date time.
        example: 2019-05-15T10:00:00.000Z
      location:
        allOf:
        - $ref: '#/definitions/location_code'
        - title: Departure location
        - description: Valid train station codes from the request, as agreed by partner
            integration. This is used to map the vehicle rental dropoff location.
        example: FRLYS
      number:
        title: Train code
        description: Identifying number assigned to the train carrier.
        type: number
        example: 82739
      code:
        allOf:
        - $ref: '#/definitions/train_code'
        - title: Train code
        - description: Valid train operator codes from the request, as agreed by partner
            integration.
        example: TGV
      class:
        allOf:
        - $ref: '#/definitions/train_class'
        - title: Fare Class
        - description: Booking Fare class
        example: first
  transport_mode:
    properties:
      car_rental:
        allOf:
        - $ref: '#/definitions/car_rental'
        - title: Vehicle rental
      train_journey:
        allOf:
        - $ref: '#/definitions/train_journey'
        - title: Train journey preference
      flight_journey:
        title: Flight journey
  hours:
    title: Hours Slots
    description: Working and holidays working hour slots.
    type: array
    items:
      type: object
      properties:
        open:
          allOf:
          - $ref: '#/definitions/hour'
          - title: Opening hour
          - description: Opening hour slot in ISO 8601 format.
          example: 09:00
        close:
          allOf:
          - $ref: '#/definitions/hour'
          - title: Closing hour
          - description: Closing hour slot in ISO 8601 format.
          example: 780
  context:
    title: Transaction Context
    description: Search context secured with a time bound token to enable secure handshakes
      between distribution channels.
    type: object
    properties:
      id:
        title: Token Identifier
        description: Unique identifier within offers API context to fetch the search
          information.
        type: string
        example: c9332ffa-5250-11e9-8647-d663bd873d93
  journey_preference:
    allOf:
    - $ref: '#/definitions/transport_mode'
    - description: User journey preference information that includes either vehicle
        rental or train journey or flight journey information to request offers and
        availability.
    - maxProperties: 3
    - required:
      - point_of_sale
      - brand
    - properties:
        point_of_sale:
          allOf:
          - $ref: '#/definitions/country_code'
          - title: Point of Sale
          - description: 2-character ISO 3166 country code that drives the rate, currency
              and default language.
        brand:
          description: ""
          minItems: 1
          type: array
          items: {}
  coupon_type:
    allOf:
    - $ref: '#/definitions/type'
    - title: Coupon type
      description: The type of coupon that corresponds to the coupon code.
      enum:
      - MoneyOff
      - GasOff
      - DaysOff
      - Upgrade
      example: MoneyOff
  discount_code:
    allOf:
    - $ref: '#/definitions/code'
    - title: Discount code
      description: The rental vehicle brand discount code. This field can be an Avis
        Worldwide Discount (AWD), Budget Car Discount (BCD), or a Payless Discount
        Number (PDN) code.
      example: R566100
  dropoff_date:
    allOf:
    - $ref: '#/definitions/date_time'
    - title: Dropoff date
    - description: ISO 8601 date and time of dropoff.
    example: 2017-11-15T18:00:00.000Z
  journey_type:
    allOf:
    - $ref: '#/definitions/type'
    - title: Travel journey type
    - description: Indicator to represent the one-way or return journey type.
    - enum:
      - oneway
      - return
    example: oneway
  language:
    allOf:
    - $ref: '#/definitions/code'
    - title: Language
    - description: 2-character ISO 639-1 Language Code. Default language will be picked
        up based on the partner configuration when there is no language provided in
        the request.
    - maxLength: 2
    - minLength: 2
    - enum:
      - EN
      - ES
      - IT
      - DE
      - NL
      - FR
    example: EN
  location_code:
    allOf:
    - $ref: '#/definitions/code'
    - description: location code
      minLength: 3
    example: LHR
  status:
    allOf:
    - $ref: '#/definitions/success_status'
    - title: Request Status
      description: A container for the success/error details.
  date_time:
    format: date-time
    description: ISO 8601 representation of the date time.
    type: string
    example: 2015-07-04T21:00:00.000Z
  date:
    format: date
    description: ISO 8601 representation of the date.
    type: string
    example: 2015-05-23
  pickup_date:
    allOf:
    - $ref: '#/definitions/date_time'
    - title: Pickup date
    - description: ISO 8601 date and time of pickup.
    example: 2017-11-15T18:00:00.000Z
  loyalty:
    title: Loyalty
    description: Profile information of the user. The personal brand identification
      information of the user for the Avis, Budget, or Payless user profile.
    type: object
    properties:
      program:
        title: Avis Budget Group loyalty program
        description: The Avis Budget Group brand loyalty program name. The program
          can be an Avis Preferred, Avis Preferred Plus, Avis Platinum for Avis brand.
        type: string
        example: Avis Preferred Plus
      code:
        allOf:
        - $ref: '#/definitions/code'
        - title: Loyalty code
          description: The brand loyalty program code. This can be an Avis wizard
            number, Budget customer number, or Payless Perks number.
        example: M2348934
      brand:
        title: Avis Budget Group brand
        description: The brand associated with the loyalty program.
        enum:
        - Avis
        - Budget
        - Payless
        type: string
        example: Avis
  country_code:
    allOf:
    - $ref: '#/definitions/code'
    - title: Country Code
      description: ' 2-character ISO 3166 country code that drives the rate, currency
        and default language.'
      maxLength: 2
      minLength: 2
      enum:
      - AF
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BA
      - BW
      - BR
      - BN
      - BG
      - BF
      - BI
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - TD
      - CL
      - CN
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - HR
      - CU
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - ET
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - CI
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KR
      - XK
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MK
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NF
      - MP
      - "NO"
      - OM
      - PK
      - PA
      - PG
      - PY
      - PE
      - PH
      - PL
      - PT
      - PR
      - QA
      - ME
      - RS
      - RE
      - RO
      - RU
      - RW
      - KN
      - WS
      - SM
      - ST
      - SA
      - SN
      - CS
      - SC
      - SL
      - SG
      - SK
      - SI
      - SB
      - SO
      - ZA
      - ES
      - LK
      - MF
      - AN
      - VC
      - LC
      - SD
      - SR
      - SZ
      - SE
      - CH
      - SY
      - TW
      - TZ
      - TH
      - TG
      - TO
      - VG
      - TT
      - TN
      - TR
      - TM
      - TC
      - UG
      - UA
      - AE
      - GB
      - US
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VI
      - YE
      - ZM
      - ZW
    example: US
  error_404:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: "404 Not Found is returned when server cannot find the matching\
        \ request URI (either due to no results, or because of a non-existent endpoint\
        \ or resource). Server may also respond with this status code when there is\
        \ 401 or 403, which the service wants to mask for security reasons.\r\n\r\n"
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_405:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: A request method is not supported for the requested resource; for
        example, a GET request on a form that requires data to be presented via POST,
        or a PUT request on a read-only resource.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_406:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: A request method is not supported for the requested resource; for
        example, a GET request on a form that requires data to be presented via POST,
        or a PUT request on a read-only resource.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_415:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: The request entity has a media type which the server or resource
        does not support. For example, the client uploads an image as image/svg+xml,
        but the server requires that images use a different format.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_500:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: 500 Internal Server Error is returned when a system or application
        error has occurred. It generally indicates that something unexpected has gone
        wrong on the server. This is used for a standard server side exception for
        a persistent error on the server side.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  car_rental:
    title: Car Rental Journey
    description: Car rental information including the pickup, dropoff and journey
      type.
    required:
    - dropoff_date
    - dropoff_location
    - pickup_date
    - pickup_location
    type: object
    properties:
      pickup_date:
        allOf:
        - $ref: '#/definitions/pickup_date'
        - title: Rental Car Pickup Date
        - description: ISO 8601 date and time of pickup in UTC.
      pickup_location:
        allOf:
        - $ref: '#/definitions/pickup_location'
        - title: Pickup Location
        - description: Rental car pickup location code. These are specific to ABG
            location codes.
        example: UX9
      dropoff_date:
        allOf:
        - $ref: '#/definitions/dropoff_date'
        - title: Rental Car Dropoff Date
        - description: ISO 8601 date and time of drop-off in UTC.
      dropoff_location:
        allOf:
        - $ref: '#/definitions/dropoff_location'
        - title: Dropoff Location
        - description: Rental car dropoff location code. These are specific to ABG
            location codes.
      point_of_sale:
        allOf:
        - $ref: '#/definitions/country_code'
        - title: Point of Sale
        - description: 2-character ISO 3166 country code that drives the rate, currency
            and default language.
      age:
        allOf:
        - $ref: '#/definitions/age'
      membership:
        allOf:
        - $ref: '#/definitions/membership'
  context_request:
    title: Search Context
    description: Search context to be persisted in the context store with a time bound
      flag and identifier to enable secure handshakes between distribution channels.
    required:
    - request
    type: object
    properties:
      transaction:
        allOf:
        - $ref: '#/definitions/transaction'
      request:
        allOf:
        - $ref: '#/definitions/offers_request'
        - description: The offers request to be persisted and used in hybrid cross
            sell partner journeys. The search context could be potentially used in
            other distributon channels like White Label or Microsites to retrieve
            Avis Budget Group vehicle availability and discounted offers.
    example:
      transaction:
        id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
      request:
        domain:
          language: EN
          channel: website
        offer_preferences:
          personalization: true
        journey_preference:
          brand:
          - Avis
          - Budget
          point_of_sale: FR
          train_journey:
            arrival:
              date: 2019-05-15T10:00:00Z
              location: FRLYS
              number: 2345
              code: TGV
              class: first
            departure:
              date: 2019-05-15T10:00:00Z
              location: FRLYS
              number: 2345
              code: TGV
              class: first
            journey_type: return
            order_id: "234234234"
            secondary_reference: 3471c7bc-cc3a-4d82-a23c-0157c2d8aba8
            train_basket:
              amount: 287.78
              currency: GBP
        passengers:
        - rate_qualifiers:
            age: 35
            date_of_birth: 1985-02-25
            partner_loyalty:
              program: Voyageur
            partner_discount:
              program: Carte Jeune
          driver: primary
  context_response:
    description: Token generated for the search context with a time bound flag. This
      will be further used by the distribution channels like WhiteLabel or Mircosites
      to retreieve the search context.
    required:
    - status
    - transaction
    type: object
    properties:
      status:
        allOf:
        - $ref: '#/definitions/status'
      transaction:
        allOf:
        - $ref: '#/definitions/transaction'
      context:
        allOf:
        - $ref: '#/definitions/context'
    example:
      status:
        request_time: 2018-10-25T12:01:54Z
        success:
        - code: "201"
          message: Success
          details: The context was successfully created.
      transaction:
        id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
        system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
      context:
        id: 227a19346-43e1-11e9-95ce-e6a7a0e31net
  coupon:
    title: Coupon
    description: Coupon infomation for reservation discounts and benefits.
    required:
    - code
    - coupon_amount
    - quantity
    - type
    type: object
    properties:
      code:
        allOf:
        - $ref: '#/definitions/code'
        - title: Coupon code
        - description: The coupon code to be applied to the reservation rate.
        example: MUZZ014
      type:
        $ref: '#/definitions/coupon_type'
      description:
        title: Coupon description
        description: Description of the coupon code that was specified in the request.
        type: string
        example: 25USD Off with Rental of CSS/Paperless Coupon
      quantity:
        allOf:
        - $ref: '#/definitions/quantity'
        - title: Quantity
        - description: The number of coupon codes to apply to the reservation.
        example: 1
      coupon_applied:
        title: Coupon applied flag
        description: Indicates that a coupon code is valid and was successfully applied
          for the reservation.
        type: boolean
        example: false
      coupon_amount:
        allOf:
        - $ref: '#/definitions/amount'
        - title: Coupon amount
        - description: The amount of the coupon discount applied to the cost of the
            reservation.
        example: 0
      coupon_extras:
        title: Coupon extras
        description: The ancillary products tied to the coupon. For example, if the
          coupon code specified in the request applies to the cost of a child safety
          seat, then CSS will be returned in this field.
        type: array
        items:
          allOf:
          - $ref: '#/definitions/extra'
  discount:
    title: Brand Discounts
    description: The rental vehicle brand rewards program code (also known as discount
      code) to be applied to the rate of the reservation.
    required:
    - code
    type: object
    properties:
      code:
        allOf:
        - $ref: '#/definitions/discount_code'
  domain:
    type: object
    properties:
      language:
        allOf:
        - $ref: '#/definitions/language'
      channel:
        allOf:
        - $ref: '#/definitions/channel'
  error_400:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: ' 400 Bad Request is returned when the request could not be understood
        by the server. 400 includes missing required values, invalid data types, minimum/maximum
        values, ranges and format.'
    - required:
      - status
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
  error_status:
    title: Error status
    description: A container for the error details
    required:
    - request_time
    - errors
    - request_errors
    type: object
    properties:
      request_time:
        allOf:
        - $ref: '#/definitions/date_time'
        - description: The time stamp of the request
      request_errors:
        description: The number of errors that occurred
        type: integer
      errors:
        allOf:
        - $ref: '#/definitions/error_details'
  product_type:
    description: ""
    type: object
    allOf:
    - $ref: '#/definitions/type'
    - title: Extras type
    - description: The type of ancillary product specified in the request. If a code
        of child safety seat (CSS) is specified in the request, then a value of SPEC_EQUIP
        will be returned in the response.
    - enum:
      - COUNTER_PROD
      - SPEC_EQUIP
      - UPSELL
    example: COUNTER_PROD
  product_code:
    allOf:
    - $ref: '#/definitions/code'
    - title: Extras code
    - description: The rental ancillary code used to identify and add rental vehicle
        equipment and features to the reservation (such as GPS).
    - enum:
      - ADD
      - ADR
      - AFO
      - ATC
      - BBS
      - BKF
      - BKR
      - BXL
      - BXM
      - BXS
      - CBS
      - CCO
      - CCP
      - CFS
      - CHG
      - CIS
      - CNP
      - CSD
      - CSS
      - DCF
      - DEC
      - DIE
      - DIS
      - EPU
      - ESP
      - FRD
      - FSK
      - GEL
      - GPS
      - GSO
      - HDL
      - ICW
      - INC
      - IP5
      - IXB
      - MPG
      - NAV
      - NSF
      - PAC
      - RSN
      - SKI
      - SKR
      - SNC
      - SNW
      - STA
      - TAB
      - TCT
      - TPR
      - TRO
      - VCD
      - WFI
      - XMR
      - BAT
      - CSB
    example: GPS
  extra:
    title: Rental Extras
    description: The ancillary products, special equipment, and other extras selected
      as part of reservation.
    required:
    - type
    type: object
    properties:
      type:
        allOf:
        - $ref: '#/definitions/product_type'
      code:
        allOf:
        - $ref: '#/definitions/product_code'
      quantity:
        allOf:
        - $ref: '#/definitions/quantity'
        - minimum: 0
        - description: The number of ancillary products to add to the reservation.
            For example, if a value of 2 is specified for quantity, and a code of
            CSS, then two child safety seats will be added to the reservation.
      amount:
        allOf:
        - $ref: '#/definitions/amount'
        - title: Extra product amount
          description: The price of the ancillary product.
        example: 19.99
      total_owed:
        allOf:
        - $ref: '#/definitions/amount'
        - title: Total amount of the extra product
          description: The total price of the ancillary product for the entirety of
            the reservation period.
        example: 19.99
  offer_preferences:
    description: Offer preferences that drives the recommendation engine to provide
      contextual offers.
    required:
    - personalization
    type: object
    properties:
      personalization:
        allOf:
        - $ref: '#/definitions/personalization'
  offers_request:
    description: The availabiliy request with location and rate qualifiers to retrieve
      Avis Budget Group vehicle availability and discounted offers.
    type: object
    properties:
      transaction:
        allOf:
        - $ref: '#/definitions/transaction'
      domain:
        allOf:
        - $ref: '#/definitions/domain'
      offer_preferences:
        allOf:
        - $ref: '#/definitions/offer_preferences'
      journey_preference:
        allOf:
        - $ref: '#/definitions/journey_preference'
      passengers:
        allOf:
        - $ref: '#/definitions/passenger'
  passenger:
    title: Passengers Details
    description: Passenger(s) attributes like loyalty, discount and age.
    required:
    - driver
    - rate_qualifiers
    type: object
    properties:
      rate_qualifiers:
        allOf:
        - $ref: '#/definitions/rate_qualifiers'
        - title: Rate Qualifiers
      driver:
        allOf:
        - $ref: '#/definitions/driver'
  rate_qualifiers:
    title: Reservation rate qualifiers
    description: The information determines/influences the rate of the reservation
      in the localized currency.
    type: object
    properties:
      discount:
        allOf:
        - $ref: '#/definitions/discount'
      loyalty:
        allOf:
        - $ref: '#/definitions/loyalty'
      coupon:
        allOf:
        - $ref: '#/definitions/coupon'
      membership:
        allOf:
        - $ref: '#/definitions/membership'
      age:
        allOf:
        - $ref: '#/definitions/age'
      date_of_birth:
        allOf:
        - $ref: '#/definitions/date'
        - title: Date of Birth
        - description: Driver’s date of birth. This might influence the rates. Will
            be superseded by “age” parameter or date of birth found in the profile
            provided in “membership_code”
      partner_loyalty:
        allOf:
        - $ref: '#/definitions/partner_loyalty'
      partner_discount:
        allOf:
        - $ref: '#/definitions/partner_discount'
  success_status:
    title: Success status
    description: Success Status object
    required:
    - request_time
    - success
    type: object
    properties:
      request_time:
        allOf:
        - $ref: '#/definitions/date_time'
        - description: The time stamp of the request
      success:
        allOf:
        - $ref: '#/definitions/success_details'
  transaction:
    title: Transaction
    description: Transaction details that may be used by your application to identify
      a request.
    type: object
    properties:
      id:
        allOf:
        - $ref: '#/definitions/transaction_id'
      system_id:
        title: Internal correlation  identifier
        description: A unique identifier generated internally by the application to
          identify the payload and troubleshoot.
        type: string
        example: i9332ffa-5250-11e9-8647-d663bd873d78
  week_day:
    title: Working day
    description: Working and holidays day details.
    required:
    - day_of_week
    type: object
    properties:
      day_of_week:
        allOf:
        - $ref: '#/definitions/day_of_week'
      hours:
        allOf:
        - $ref: '#/definitions/hours'
        - description: working hours.
  day_of_week:
    allOf:
    - title: Day of week
    - description: Day of week
    - enum:
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      - Sunday
    - type: string
    example: Monday
responses:
  context_request:
    description: ""
    schema:
      $ref: '#/definitions/context_request'
    examples:
      application/json:
        transaction:
          id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
        request:
          domain:
            language: EN
            channel: website
          offer_preferences:
            personalization: true
          journey_preference:
            brand:
            - Avis
            - Budget
            point_of_sale: FR
            train_journey:
              arrival:
                date: 2019-05-15T10:00:00Z
                location: FRLYS
                number: 2345
                code: TGV
                class: first
              departure:
                date: 2019-05-15T10:00:00Z
                location: FRLYS
                number: 2345
                code: TGV
                class: first
              journey_type: return
              order_id: "234234234"
              secondary_reference: 3471c7bc-cc3a-4d82-a23c-0157c2d8aba8
              train_basket:
                amount: 287.78
                currency: GBP
          passengers:
          - rate_qualifiers:
              age: 35
              date_of_birth: 1985-02-25
              partner_loyalty:
                program: Voyageur
              partner_discount:
                program: Carte Jeune
            driver: primary
  context_response:
    description: ""
    schema:
      $ref: '#/definitions/context_response'
    examples:
      application/json:
        status:
          request_time: 2018-10-25T12:01:54Z
          success:
          - code: "201"
            message: Success
            details: The context was successfully created.
        transaction:
          id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
          system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
        context:
          id: 227a19346-43e1-11e9-95ce-e6a7a0e31net
  error_responce_406:
    description: The requested resource is capable of generating only content not
      acceptable according to the Accept headers sent in the request.
    schema:
      $ref: '#/definitions/error_406'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "406"
            message: Not Accecptable
            reason: Not Accecptable
            details: org.mule.module.apikit.exception.NotAcceptableException
  error_response_400:
    description: 400 Bad Request is returned when the request could not be understood
      by the server. 400 includes missing required values, invalid data types, minimum/maximum
      values, ranges and format.
    schema:
      $ref: '#/definitions/error_400'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "400"
            message: Bad Request
            reason: invalid_request
            details: '- Missing required field ''brand'''
          - code: "400"
            message: Bad Request
            reason: invalid_request
            details: '- Invalid element <AVIS>.'
          - code: "14528"
            message: Bad Request
            reason: Invalid rate_code.
            details: Rate Code entered is invalid.
          - code: "14184"
            message: Bad Request
            reason: Last name and customer id combination is invalid.
            details: 'Last name does not match the wizard number '
          - code: "14441"
            message: Bad Request
            reason: Bad Request
            details: Bad Request
          - code: "1112"
            message: Bad Request
            reason: Invalid coupon_code and IATA number combination.
            details: This coupon requires an IATA / ARC number.  Please enter your
              number below or remove the coupon from this reservation.
          - code: "14299"
            message: Bad Request
            reason: Bad Request
            details: Invalid insurance details
          - code: "13213"
            message: Bad Request
            reason: Country Code is invalid
            details: Please enter a valid Country Code.
          - code: "14442"
            message: Bad Request
            reason: RENTAL DURATION LESS THAN MINIMUM
            details: RENTAL DURATION LESS THAN MINIMUM
          - code: "1103"
            message: Bad Request
            reason: Invalid Country/Coupon Code
            details: This station does not participate.  Valid at corporate/participating
              licensees in the U.S. (excluding Alaska, Hawaii and the New York Metro),
              Canada, Australia, New Zealand, France, Puerto Rico, United Kingdom
              and U.S. Virgin Islands.
          - code: "14372"
            message: Bad Request
            reason: Invalid coupon_code
            details: The Coupon Number entered is invalid.
          - code: "14374"
            message: Bad Request
            reason: coupon_code is invalid for the given time frame.
            details: The Coupon Number entered does not meet the minimum days requirement.
              Please check the terms and conditions or remove to continue this reservation.
          - code: "19076"
            message: Bad Request
            reason: Invalid loyalty_code membership_code
            details: Membership Number entered is invalid.
          - code: "235"
            message: Bad Request
            reason: loyalty_code and loyalty_company_id are required parameters for
              the selection of Frequent Travel Program.
            details: If you have selected a Frequent Traveler Program, than you must
              enter a Membership Number
          - code: "14075"
            message: Bad Request
            reason: RateCode requires a valid discount number in the request.
            details: ' The rate code you entered requires a discount number. Please
              go back and enter your discount number or remove the rate code you entered.'
          - code: "1798"
            message: Bad Request
            reason: Invalid discount_number.
            details: Invalid AWD
          - code: "14022"
            message: Bad Request
            reason: Invalid vehicle_class_code
            details: Requested Car Group is invalid.
          - code: "12012"
            message: Bad Request
            reason: Invalid city
            details: MSGCD_E_WIZ_CITY_NAME_REQUIRED
          - code: "14105"
            message: Bad Request
            reason: Invalid rate_code.
            details: Invalid Vehicle rate code and class code combination for the
              provided brand.
          - code: "208"
            message: Bad Request
            reason: Invalid customer_id.
            details: Invalid Wizard number for the customer.
          - code: "205"
            message: Bad Request
            reason: Invalid dropoff_location.
            details: Invalid Drop off location
          - code: "203"
            message: Bad Request
            reason: Invalid pickup_location.
            details: Invalid Pick up location
          - code: "231"
            message: Bad Request
            reason: Invalid pickup_date.
            details: You selected a date/time prior to the current time
          - code: "232"
            message: Bad Request
            reason: dropoff_date is prior to pickup_date.
            details: Return Date cannot be prior or same to the Pick-Up Date
          - code: "237"
            message: Bad Request
            reason: Invalid flight carrier_name.
            details: Please select valid Airline
          - code: "239"
            message: Bad Request
            reason: Invalid filght carrier_code.
            details: Please enter a valid flight number. Flight Number format is a
              maximum 4 numbers. Please omit letters from your flight number
          - code: "234"
            message: Bad Request
            reason: Invalid frequent_flyer_number.
            details: If you have entered a Membership Number, then you must select
              a Frequent Traveler Program.
          - code: "209"
            message: Bad Request
            reason: Invalid coupon_number.
            details: Please enter a valid Coupon Number.
          - code: "216"
            message: Bad Request
            reason: Invalid discount_number.
            details: The discount number is invalid for the given Avis.
          - code: "150004"
            message: Bad Request
            reason: last_name and confirmation_number combination is invalid.
            details: Last name entered does not match with the confirmation number
          - code: "19082"
            message: Bad Request
            reason: Bad Request
            details: Bad Request from e-Com backend.
          - code: "1122"
            message: Bad Request
            reason: Coupon_code is expired.
            details: Coupon requires a minimum length of 3 days. Please select a rate
              to continue (coupon will be removed).
          - code: "300100"
            message: Bad Request
            reason: PrePayReservationCurrency must be required
            details: PrePayReservationCurrency must be required
          - code: "300101"
            message: Bad Request
            reason: PrePayReservationAmount must be required
            details: PrePayReservationAmount must be required
          - code: "300111"
            message: Bad Request
            reason: Prepay information details are required for the Prepay type.
            details: Prepay Information must be required.
          - code: "900909"
            message: Bad Request
            reason: cvv is invalid for the provided Credit Card.
            details: cvv is invalid for the provided Credit Card.
          - code: "300102"
            message: Bad Request
            reason: Credit Card details are mandatory.
            details: Valid Credit Card Details must be required
          - code: "14220"
            message: Bad Request
            reason: Payment details are invalid.
            details: The number either doesn't match the card type or is the wrong
              length. Please check your entries and try again
          - code: "215"
            message: Bad Request
            reason: Invalid email.
            details: Invalid email address
          - code: "14025"
            message: Bad Request
            reason: Bad Request.
            details: Bad Request from e-Com backend.
          - code: "19001"
            message: Bad Request
            reason: country_code,state_name and postal_code combination is invalid.
            details: Invalid zip code.
          - code: "212"
            message: Bad Request
            reason: last_name is required.
            details: Last Name is required
          - code: "210"
            message: Bad Request
            reason: first_name is mandatory.
            details: First Name is required
          - code: "14126"
            message: Bad Request
            reason: dropoff_date and pickup_date combination is invalid.
            details: Pick-up Date can not be after Return Date.
          - code: "14129"
            message: Bad Request
            reason: Invalid pickup_date.
            details: pickup_date is less than the current date.
          - code: "226"
            message: Bad Request
            reason: Invalid dropoff_location.
            details: There are no locations available for your Return address.
          - code: "225"
            message: Bad Request
            reason: Invalid pickup_location.
            details: There are no locations available for your Pick-up address.
          - code: "227"
            message: Bad Request
            reason: Invalid pickup_location and dropoff_location.
            details: Sorry! No Avis locations are available in address provided.
          - code: "219"
            message: Bad Request
            reason: Missing partner_country_code.
            details: Country of residence is required.
          - code: "19074"
            message: Bad Request
            reason: Invalid Vehicle rate code and class code combination for the provided
              brand.
            details: ' Rate Code entered is invalid.'
          - code: "1005"
            message: Bad Request
            reason: 'e-Com rejected the request due to data issue. '
            details: Request is invalid.
          - code: "1109"
            message: Bad Request
            reason: Coupon is applicable only for certain discount types.
            details: 'This coupon requires one of the following discount number types:
              {0}.'
          - code: "1203"
            message: Bad Request
            reason: Invalid coupon and discount combination.
            details: This coupon {0} may only be used with a specific AWD number (see
              offer terms). Please enter this AWD number to continue or select from
              available cars to continue without the coupon.
          - code: "1124"
            message: Bad Request
            reason: Invalid coupon and brand combination.
            details: This coupon may only be used on  W G car groups. Please select
              from one of these groups or select a different one to proceed without
              the coupon.
          - code: "200"
            message: Bad Request
            reason: Brand is a required field.
            details: Brand is a required field.
          - code: "202"
            message: Bad Request
            reason: pickup_location is a required field.
            details: pickup_location is a required field.
          - code: "206"
            message: Bad Request
            reason: pickup_location is a required field.
            details: pickup_location is a required field.
          - code: "204"
            message: Bad Request
            reason: dropoff_location is a required field.
            details: dropoff_location is a required field.
          - code: "207"
            message: Bad Request
            reason: dropoff_location is a required field.
            details: dropoff_location is a required field.
          - code: "217"
            message: Bad Request
            reason: vehicle_class_code is a required field.
            details: vehicle_class_code is a required field and it is associated with
              rate_code.
          - code: "218"
            message: Bad Request
            reason: rate_code is a required field.
            details: rate_code is a required field and it is associated with the vehicle_class_code.
          - code: "220"
            message: Bad Request
            reason: Confirmation Number is required field.
            details: Confirmation Number is required field.
          - code: "22224"
            message: Bad Request
            reason: A One-Way Rental between given pickup_location and dropoff_location
              is not available
            details: A One-Way Rental between these 2  locations cannot be booked
              online.
  error_response_404:
    description: "404 Not Found is returned when server cannot find the matching request\
      \ URI (either due to no results, or because of a non-existent endpoint or resource).\
      \ Server may also respond with this status code when there is 401 or 403, which\
      \ the service wants to mask for security reasons.\r\n\r\n"
    schema:
      $ref: '#/definitions/error_404'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "404"
            message: Resource Not Found
            reason: resource_failure
            details: Server cannot find the requested resource. This may be due to
              incorrect URI or a resource that is not available.
          - code: "223"
            message: Not Found
            reason: Invalid pickup_location.
            details: The pick-up location entered is Sold Out for the dates you have
              entered
          - code: "14036"
            message: Not Found
            reason: Reservation already cancelled
            details: Reservation is already cancelled for the given confirmation_number.
          - code: "14381"
            message: Not Found
            reason: 'A One-Way Rental between given pickup_location and dropoff_location
              is not available '
            details: 'A One-Way Rental between given pickup_location and dropoff_location
              is not available '
  error_response_405:
    description: A request method is not supported for the requested resource; for
      example, a GET request on a form that requires data to be presented via POST,
      or a PUT request on a read-only resource.
    schema:
      $ref: '#/definitions/error_405'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "405"
            message: Method Not Allowed
            reason: Method Not Allowed
            details: org.mule.module.apikit.exception.MethodNotAllowedException
  error_response_415:
    description: The request entity has a media type which the server or resource
      does not support. For example, the client uploads an image as image/svg+xml,
      but the server requires that images use a different format.
    schema:
      $ref: '#/definitions/error_415'
    examples:
      application/json:
        status:
          request_time: 2018-10-17T13:05:10Z
          request_errors: 1
          errors:
          - code: "415"
            message: Unsupported Media Type
            reason: Unsupported Media Type
            details: org.mule.module.apikit.exception.UnsupportedMediaTypeException
  error_response_500:
    description: 500 Internal Server Error is returned when a system or application
      error has occurred. It generally indicates that something unexpected has gone
      wrong on the server. This is used for a standard server side exception for a
      persistent error on the server side.
    schema:
      $ref: '#/definitions/error_500'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "40018"
            message: Service exception
            reason: Service exception
            details: Socket timeout from IMS Connect
          - code: "610"
            message: Service exception
            reason: System exception from e-com backend.
            details: System Exception occurred during location search.Please check
              the log for details.
securityDefinitions:
  OAuth2.0:
    flow: application
    tokenUrl: https://stage.abgapiservices.com/oauth/token/v1
    scopes: {}
    type: oauth2
security:
- OAuth2.0: []
