---
swagger: "2.0"
info:
  title: Loyalty API
  version: 1.0.0
host: internal.abgapiservices.com
basePath: /loyalty/v1
consumes:
- application/json
produces:
- application/json
paths:
  /program:
    post:
      parameters:
      - name: body
        schema:
          $ref: '#/definitions/partner_program_v1_request'
        in: body
        required: true
      - name: client_id
        description: Your client identifier.
        in: header
        required: true
        type: string
        maxLength: 50
        minLength: 8
      responses:
        "200":
          description: All the available Discounts and free extra product details
            for Avis Budget Group vehicles which are applicable to passengers loyalty
            cards.
          schema:
            $ref: '#/definitions/partner_program_v1_response'
          examples:
            application/json:
              status:
                request_time: 2018-10-25T12:01:54Z
                success:
                - code: "200"
                  message: Success
                  details: Loyalty details are successfully retrieved.
              transaction:
                id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
                system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
              domain:
                language: EN
              loyalty_discounts:
              - rate_qualifiers:
                  partner_loyalty:
                    program: Voyageur
                  partner_discount:
                    program: San carte
                mapped_discounts:
                - brand: Avis
                  code: X5212064
                  percent: 15
                  free_options:
                    eligible_extras:
                      quantity: 1
                    eligible_codes:
                    - ADD
                    - GPS
                    - BBS
                    - CBS
                    - CSS
                    - SKR
                    - SNC
                - brand: Budget
                  code: L824502
                  percent: 10
                  free_options:
                    eligible_extras:
                      quantity: 0
                best_discount: true
              - rate_qualifiers:
                  partner_loyalty:
                    program: GRAND VOYAGEUR LE CLUB
                  partner_discount:
                    program: Carte Jeune
                mapped_discounts:
                - brand: Avis
                  code: X5212067
                  percent: 10
                  free_options:
                    eligible_extras:
                      quantity: 1
                    eligible_codes:
                    - ADD
                    - GPS
                    - BBS
                    - CBS
                    - CSS
                    - SKR
                    - SNC
                - brand: Budget
                  code: L824502
                  percent: 10
                  free_options:
                    eligible_extras:
                      quantity: 0
        "400":
          description: 400 Bad Request is returned when the request could not be understood
            by the server. 400 includes missing required values, invalid data types,
            minimum/maximum values, ranges and format.
          schema:
            $ref: '#/definitions/error_400'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "400"
                  message: Bad Request
                  reason: invalid_request
                  details: '- Missing required field ''brand'''
                - code: "400"
                  message: Bad Request
                  reason: invalid_request
                  details: '- Invalid element <AVIS>.'
                - code: "14528"
                  message: Bad Request
                  reason: Invalid rate_code.
                  details: Rate Code entered is invalid.
                - code: "14184"
                  message: Bad Request
                  reason: Last name and customer id combination is invalid.
                  details: 'Last name does not match the wizard number '
                - code: "14441"
                  message: Bad Request
                  reason: Bad Request
                  details: Bad Request
                - code: "1112"
                  message: Bad Request
                  reason: Invalid coupon_code and IATA number combination.
                  details: This coupon requires an IATA / ARC number.  Please enter
                    your number below or remove the coupon from this reservation.
                - code: "14299"
                  message: Bad Request
                  reason: Bad Request
                  details: Invalid insurance details
                - code: "13213"
                  message: Bad Request
                  reason: Country Code is invalid
                  details: Please enter a valid Country Code.
                - code: "14442"
                  message: Bad Request
                  reason: RENTAL DURATION LESS THAN MINIMUM
                  details: RENTAL DURATION LESS THAN MINIMUM
                - code: "1103"
                  message: Bad Request
                  reason: Invalid Country/Coupon Code
                  details: This station does not participate.  Valid at corporate/participating
                    licensees in the U.S. (excluding Alaska, Hawaii and the New York
                    Metro), Canada, Australia, New Zealand, France, Puerto Rico, United
                    Kingdom and U.S. Virgin Islands.
                - code: "14372"
                  message: Bad Request
                  reason: Invalid coupon_code
                  details: The Coupon Number entered is invalid.
                - code: "14374"
                  message: Bad Request
                  reason: coupon_code is invalid for the given time frame.
                  details: The Coupon Number entered does not meet the minimum days
                    requirement. Please check the terms and conditions or remove to
                    continue this reservation.
                - code: "19076"
                  message: Bad Request
                  reason: Invalid loyalty_code membership_code
                  details: Membership Number entered is invalid.
                - code: "235"
                  message: Bad Request
                  reason: loyalty_code and loyalty_company_id are required parameters
                    for the selection of Frequent Travel Program.
                  details: If you have selected a Frequent Traveler Program, than
                    you must enter a Membership Number
                - code: "14075"
                  message: Bad Request
                  reason: RateCode requires a valid discount number in the request.
                  details: ' The rate code you entered requires a discount number.
                    Please go back and enter your discount number or remove the rate
                    code you entered.'
                - code: "1798"
                  message: Bad Request
                  reason: Invalid discount_number.
                  details: Invalid AWD
                - code: "14022"
                  message: Bad Request
                  reason: Invalid vehicle_class_code
                  details: Requested Car Group is invalid.
                - code: "12012"
                  message: Bad Request
                  reason: Invalid city
                  details: MSGCD_E_WIZ_CITY_NAME_REQUIRED
                - code: "14105"
                  message: Bad Request
                  reason: Invalid rate_code.
                  details: Invalid Vehicle rate code and class code combination for
                    the provided brand.
                - code: "208"
                  message: Bad Request
                  reason: Invalid customer_id.
                  details: Invalid Wizard number for the customer.
                - code: "205"
                  message: Bad Request
                  reason: Invalid dropoff_location.
                  details: Invalid Drop off location
                - code: "203"
                  message: Bad Request
                  reason: Invalid pickup_location.
                  details: Invalid Pick up location
                - code: "231"
                  message: Bad Request
                  reason: Invalid pickup_date.
                  details: You selected a date/time prior to the current time
                - code: "232"
                  message: Bad Request
                  reason: dropoff_date is prior to pickup_date.
                  details: Return Date cannot be prior or same to the Pick-Up Date
                - code: "237"
                  message: Bad Request
                  reason: Invalid flight carrier_name.
                  details: Please select valid Airline
                - code: "239"
                  message: Bad Request
                  reason: Invalid filght carrier_code.
                  details: Please enter a valid flight number. Flight Number format
                    is a maximum 4 numbers. Please omit letters from your flight number
                - code: "234"
                  message: Bad Request
                  reason: Invalid frequent_flyer_number.
                  details: If you have entered a Membership Number, then you must
                    select a Frequent Traveler Program.
                - code: "209"
                  message: Bad Request
                  reason: Invalid coupon_number.
                  details: Please enter a valid Coupon Number.
                - code: "216"
                  message: Bad Request
                  reason: Invalid discount_number.
                  details: The discount number is invalid for the given Avis.
                - code: "150004"
                  message: Bad Request
                  reason: last_name and confirmation_number combination is invalid.
                  details: Last name entered does not match with the confirmation
                    number
                - code: "19082"
                  message: Bad Request
                  reason: Bad Request
                  details: Bad Request from e-Com backend.
                - code: "1122"
                  message: Bad Request
                  reason: Coupon_code is expired.
                  details: Coupon requires a minimum length of 3 days. Please select
                    a rate to continue (coupon will be removed).
                - code: "300100"
                  message: Bad Request
                  reason: PrePayReservationCurrency must be required
                  details: PrePayReservationCurrency must be required
                - code: "300101"
                  message: Bad Request
                  reason: PrePayReservationAmount must be required
                  details: PrePayReservationAmount must be required
                - code: "300111"
                  message: Bad Request
                  reason: Prepay information details are required for the Prepay type.
                  details: Prepay Information must be required.
                - code: "900909"
                  message: Bad Request
                  reason: cvv is invalid for the provided Credit Card.
                  details: cvv is invalid for the provided Credit Card.
                - code: "300102"
                  message: Bad Request
                  reason: Credit Card details are mandatory.
                  details: Valid Credit Card Details must be required
                - code: "14220"
                  message: Bad Request
                  reason: Payment details are invalid.
                  details: The number either doesn't match the card type or is the
                    wrong length. Please check your entries and try again
                - code: "215"
                  message: Bad Request
                  reason: Invalid email.
                  details: Invalid email address
                - code: "14025"
                  message: Bad Request
                  reason: Bad Request.
                  details: Bad Request from e-Com backend.
                - code: "19001"
                  message: Bad Request
                  reason: country_code,state_name and postal_code combination is invalid.
                  details: Invalid zip code.
                - code: "212"
                  message: Bad Request
                  reason: last_name is required.
                  details: Last Name is required
                - code: "210"
                  message: Bad Request
                  reason: first_name is mandatory.
                  details: First Name is required
                - code: "14126"
                  message: Bad Request
                  reason: dropoff_date and pickup_date combination is invalid.
                  details: Pick-up Date can not be after Return Date.
                - code: "14129"
                  message: Bad Request
                  reason: Invalid pickup_date.
                  details: pickup_date is less than the current date.
                - code: "226"
                  message: Bad Request
                  reason: Invalid dropoff_location.
                  details: There are no locations available for your Return address.
                - code: "225"
                  message: Bad Request
                  reason: Invalid pickup_location.
                  details: There are no locations available for your Pick-up address.
                - code: "227"
                  message: Bad Request
                  reason: Invalid pickup_location and dropoff_location.
                  details: Sorry! No Avis locations are available in address provided.
                - code: "219"
                  message: Bad Request
                  reason: Missing partner_country_code.
                  details: Country of residence is required.
                - code: "19074"
                  message: Bad Request
                  reason: Invalid Vehicle rate code and class code combination for
                    the provided brand.
                  details: ' Rate Code entered is invalid.'
                - code: "1005"
                  message: Bad Request
                  reason: 'e-Com rejected the request due to data issue. '
                  details: Request is invalid.
                - code: "1109"
                  message: Bad Request
                  reason: Coupon is applicable only for certain discount types.
                  details: 'This coupon requires one of the following discount number
                    types: {0}.'
                - code: "1203"
                  message: Bad Request
                  reason: Invalid coupon and discount combination.
                  details: This coupon {0} may only be used with a specific AWD number
                    (see offer terms). Please enter this AWD number to continue or
                    select from available cars to continue without the coupon.
                - code: "1124"
                  message: Bad Request
                  reason: Invalid coupon and brand combination.
                  details: This coupon may only be used on  W G car groups. Please
                    select from one of these groups or select a different one to proceed
                    without the coupon.
                - code: "200"
                  message: Bad Request
                  reason: Brand is a required field.
                  details: Brand is a required field.
                - code: "202"
                  message: Bad Request
                  reason: pickup_location is a required field.
                  details: pickup_location is a required field.
                - code: "206"
                  message: Bad Request
                  reason: pickup_location is a required field.
                  details: pickup_location is a required field.
                - code: "204"
                  message: Bad Request
                  reason: dropoff_location is a required field.
                  details: dropoff_location is a required field.
                - code: "207"
                  message: Bad Request
                  reason: dropoff_location is a required field.
                  details: dropoff_location is a required field.
                - code: "217"
                  message: Bad Request
                  reason: vehicle_class_code is a required field.
                  details: vehicle_class_code is a required field and it is associated
                    with rate_code.
                - code: "218"
                  message: Bad Request
                  reason: rate_code is a required field.
                  details: rate_code is a required field and it is associated with
                    the vehicle_class_code.
                - code: "220"
                  message: Bad Request
                  reason: Confirmation Number is required field.
                  details: Confirmation Number is required field.
                - code: "22224"
                  message: Bad Request
                  reason: A One-Way Rental between given pickup_location and dropoff_location
                    is not available
                  details: A One-Way Rental between these 2  locations cannot be booked
                    online.
        "404":
          description: 404 Not Found is returned when server cannot find the matching
            request URI (either due to no results, or because of a non-existent endpoint
            or resource). Server may also respond with this status code when there
            is 401 or 403, which the service wants to mask for security reasons.
          schema:
            $ref: '#/definitions/error_404'
        "405":
          description: A request method is not supported for the requested resource;
            for example, a GET request on a form that requires data to be presented
            via POST, or a PUT request on a read-only resource.
          schema:
            $ref: '#/definitions/error_405'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "405"
                  message: Method Not Allowed
                  reason: Method Not Allowed
                  details: org.mule.module.apikit.exception.MethodNotAllowedException
        "406":
          description: The requested resource is capable of generating only content
            not acceptable according to the Accept headers sent in the request.
          schema:
            $ref: '#/definitions/error_406'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "406"
                  message: Not Accecptable
                  reason: Not Accecptable
                  details: org.mule.module.apikit.exception.NotAcceptableException
        "415":
          description: 500 Internal Server Error is returned when a system or application
            error has occurred. It generally indicates that something unexpected has
            gone wrong on the server. This is used for a standard server side exception
            for a persistent error on the server side.
          schema:
            $ref: '#/definitions/error_415'
          examples:
            application/json:
              status:
                request_time: 2018-10-17T13:05:10Z
                request_errors: 1
                errors:
                - code: "415"
                  message: Unsupported Media Type
                  reason: Unsupported Media Type
                  details: org.mule.module.apikit.exception.UnsupportedMediaTypeException
        "500":
          description: 500 Internal Server Error is returned when a system or application
            error has occurred. It generally indicates that something unexpected has
            gone wrong on the server. This is used for a standard server side exception
            for a persistent error on the server side.
          schema:
            $ref: '#/definitions/error_500'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "40018"
                  message: Service exception
                  reason: Service exception
                  details: Socket timeout from IMS Connect
                - code: "610"
                  message: Service exception
                  reason: System exception from e-com backend.
                  details: System Exception occurred during location search.Please
                    check the log for details.
      security:
      - OAuth2.0: []
      summary: /program
  /partner:
    get:
      parameters:
      - $ref: '#/parameters/partner_code'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/channel'
      - $ref: '#/parameters/transaction_id'
      - $ref: '#/parameters/client_id'
      responses:
        "200":
          description: Partner loyalty and discount cards with associated ABG discounts
            codes and free options.
          schema:
            $ref: '#/definitions/partner_v1_response'
          examples:
            application/json:
              status:
                request_time: 2018-10-25T12:01:54Z
                success:
                - code: "200"
                  message: Success
                  details: Loyalty details are successfully retrieved.
              transaction:
                id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
                system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
              domain:
                language: EN
              loyalty_discounts:
              - rate_qualifiers:
                  partner_loyalty:
                    program: SANS CARTE
                  partner_discount:
                    program: SANS CARTE
                mapped_discounts:
                - brand: Avis
                  code: X5212058
                  percent: 10
                  free_options:
                    eligible_extras:
                      quantity: 0
                - brand: Budget
                  code: L824502
                  percent: 10
                  free_options:
                    eligible_extras:
                      quantity: 0
              - rate_qualifiers:
                  partner_loyalty:
                    program: VOYAGEUR
                  partner_discount:
                    program: SANS CARTE
                mapped_discounts:
                - brand: Avis
                  code: X5212059
                  percent: 15
                  free_options:
                    eligible_extras:
                      quantity: 1
                    eligible_codes:
                    - ADD
                    - GPS
                    - BBS
                    - CBS
                    - CSS
                    - SKR
                    - SNC
                - brand: Budget
                  code: L824502
                  percent: 15
                  free_options:
                    eligible_extras:
                      quantity: 0
        "400":
          description: 400 Bad Request is returned when the request could not be understood
            by the server. 400 includes missing required values, invalid data types,
            minimum/maximum values, ranges and format.
          schema:
            $ref: '#/definitions/error_400'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "400"
                  message: Bad Request
                  reason: invalid_request
                  details: '- Missing required field ''brand'''
                - code: "400"
                  message: Bad Request
                  reason: invalid_request
                  details: '- Invalid element <AVIS>.'
                - code: "14528"
                  message: Bad Request
                  reason: Invalid rate_code.
                  details: Rate Code entered is invalid.
                - code: "14184"
                  message: Bad Request
                  reason: Last name and customer id combination is invalid.
                  details: 'Last name does not match the wizard number '
                - code: "14441"
                  message: Bad Request
                  reason: Bad Request
                  details: Bad Request
                - code: "1112"
                  message: Bad Request
                  reason: Invalid coupon_code and IATA number combination.
                  details: This coupon requires an IATA / ARC number.  Please enter
                    your number below or remove the coupon from this reservation.
                - code: "14299"
                  message: Bad Request
                  reason: Bad Request
                  details: Invalid insurance details
                - code: "13213"
                  message: Bad Request
                  reason: Country Code is invalid
                  details: Please enter a valid Country Code.
                - code: "14442"
                  message: Bad Request
                  reason: RENTAL DURATION LESS THAN MINIMUM
                  details: RENTAL DURATION LESS THAN MINIMUM
                - code: "1103"
                  message: Bad Request
                  reason: Invalid Country/Coupon Code
                  details: This station does not participate.  Valid at corporate/participating
                    licensees in the U.S. (excluding Alaska, Hawaii and the New York
                    Metro), Canada, Australia, New Zealand, France, Puerto Rico, United
                    Kingdom and U.S. Virgin Islands.
                - code: "14372"
                  message: Bad Request
                  reason: Invalid coupon_code
                  details: The Coupon Number entered is invalid.
                - code: "14374"
                  message: Bad Request
                  reason: coupon_code is invalid for the given time frame.
                  details: The Coupon Number entered does not meet the minimum days
                    requirement. Please check the terms and conditions or remove to
                    continue this reservation.
                - code: "19076"
                  message: Bad Request
                  reason: Invalid loyalty_code membership_code
                  details: Membership Number entered is invalid.
                - code: "235"
                  message: Bad Request
                  reason: loyalty_code and loyalty_company_id are required parameters
                    for the selection of Frequent Travel Program.
                  details: If you have selected a Frequent Traveler Program, than
                    you must enter a Membership Number
                - code: "14075"
                  message: Bad Request
                  reason: RateCode requires a valid discount number in the request.
                  details: ' The rate code you entered requires a discount number.
                    Please go back and enter your discount number or remove the rate
                    code you entered.'
                - code: "1798"
                  message: Bad Request
                  reason: Invalid discount_number.
                  details: Invalid AWD
                - code: "14022"
                  message: Bad Request
                  reason: Invalid vehicle_class_code
                  details: Requested Car Group is invalid.
                - code: "12012"
                  message: Bad Request
                  reason: Invalid city
                  details: MSGCD_E_WIZ_CITY_NAME_REQUIRED
                - code: "14105"
                  message: Bad Request
                  reason: Invalid rate_code.
                  details: Invalid Vehicle rate code and class code combination for
                    the provided brand.
                - code: "208"
                  message: Bad Request
                  reason: Invalid customer_id.
                  details: Invalid Wizard number for the customer.
                - code: "205"
                  message: Bad Request
                  reason: Invalid dropoff_location.
                  details: Invalid Drop off location
                - code: "203"
                  message: Bad Request
                  reason: Invalid pickup_location.
                  details: Invalid Pick up location
                - code: "231"
                  message: Bad Request
                  reason: Invalid pickup_date.
                  details: You selected a date/time prior to the current time
                - code: "232"
                  message: Bad Request
                  reason: dropoff_date is prior to pickup_date.
                  details: Return Date cannot be prior or same to the Pick-Up Date
                - code: "237"
                  message: Bad Request
                  reason: Invalid flight carrier_name.
                  details: Please select valid Airline
                - code: "239"
                  message: Bad Request
                  reason: Invalid filght carrier_code.
                  details: Please enter a valid flight number. Flight Number format
                    is a maximum 4 numbers. Please omit letters from your flight number
                - code: "234"
                  message: Bad Request
                  reason: Invalid frequent_flyer_number.
                  details: If you have entered a Membership Number, then you must
                    select a Frequent Traveler Program.
                - code: "209"
                  message: Bad Request
                  reason: Invalid coupon_number.
                  details: Please enter a valid Coupon Number.
                - code: "216"
                  message: Bad Request
                  reason: Invalid discount_number.
                  details: The discount number is invalid for the given Avis.
                - code: "150004"
                  message: Bad Request
                  reason: last_name and confirmation_number combination is invalid.
                  details: Last name entered does not match with the confirmation
                    number
                - code: "19082"
                  message: Bad Request
                  reason: Bad Request
                  details: Bad Request from e-Com backend.
                - code: "1122"
                  message: Bad Request
                  reason: Coupon_code is expired.
                  details: Coupon requires a minimum length of 3 days. Please select
                    a rate to continue (coupon will be removed).
                - code: "300100"
                  message: Bad Request
                  reason: PrePayReservationCurrency must be required
                  details: PrePayReservationCurrency must be required
                - code: "300101"
                  message: Bad Request
                  reason: PrePayReservationAmount must be required
                  details: PrePayReservationAmount must be required
                - code: "300111"
                  message: Bad Request
                  reason: Prepay information details are required for the Prepay type.
                  details: Prepay Information must be required.
                - code: "900909"
                  message: Bad Request
                  reason: cvv is invalid for the provided Credit Card.
                  details: cvv is invalid for the provided Credit Card.
                - code: "300102"
                  message: Bad Request
                  reason: Credit Card details are mandatory.
                  details: Valid Credit Card Details must be required
                - code: "14220"
                  message: Bad Request
                  reason: Payment details are invalid.
                  details: The number either doesn't match the card type or is the
                    wrong length. Please check your entries and try again
                - code: "215"
                  message: Bad Request
                  reason: Invalid email.
                  details: Invalid email address
                - code: "14025"
                  message: Bad Request
                  reason: Bad Request.
                  details: Bad Request from e-Com backend.
                - code: "19001"
                  message: Bad Request
                  reason: country_code,state_name and postal_code combination is invalid.
                  details: Invalid zip code.
                - code: "212"
                  message: Bad Request
                  reason: last_name is required.
                  details: Last Name is required
                - code: "210"
                  message: Bad Request
                  reason: first_name is mandatory.
                  details: First Name is required
                - code: "14126"
                  message: Bad Request
                  reason: dropoff_date and pickup_date combination is invalid.
                  details: Pick-up Date can not be after Return Date.
                - code: "14129"
                  message: Bad Request
                  reason: Invalid pickup_date.
                  details: pickup_date is less than the current date.
                - code: "226"
                  message: Bad Request
                  reason: Invalid dropoff_location.
                  details: There are no locations available for your Return address.
                - code: "225"
                  message: Bad Request
                  reason: Invalid pickup_location.
                  details: There are no locations available for your Pick-up address.
                - code: "227"
                  message: Bad Request
                  reason: Invalid pickup_location and dropoff_location.
                  details: Sorry! No Avis locations are available in address provided.
                - code: "219"
                  message: Bad Request
                  reason: Missing partner_country_code.
                  details: Country of residence is required.
                - code: "19074"
                  message: Bad Request
                  reason: Invalid Vehicle rate code and class code combination for
                    the provided brand.
                  details: ' Rate Code entered is invalid.'
                - code: "1005"
                  message: Bad Request
                  reason: 'e-Com rejected the request due to data issue. '
                  details: Request is invalid.
                - code: "1109"
                  message: Bad Request
                  reason: Coupon is applicable only for certain discount types.
                  details: 'This coupon requires one of the following discount number
                    types: {0}.'
                - code: "1203"
                  message: Bad Request
                  reason: Invalid coupon and discount combination.
                  details: This coupon {0} may only be used with a specific AWD number
                    (see offer terms). Please enter this AWD number to continue or
                    select from available cars to continue without the coupon.
                - code: "1124"
                  message: Bad Request
                  reason: Invalid coupon and brand combination.
                  details: This coupon may only be used on  W G car groups. Please
                    select from one of these groups or select a different one to proceed
                    without the coupon.
                - code: "200"
                  message: Bad Request
                  reason: Brand is a required field.
                  details: Brand is a required field.
                - code: "202"
                  message: Bad Request
                  reason: pickup_location is a required field.
                  details: pickup_location is a required field.
                - code: "206"
                  message: Bad Request
                  reason: pickup_location is a required field.
                  details: pickup_location is a required field.
                - code: "204"
                  message: Bad Request
                  reason: dropoff_location is a required field.
                  details: dropoff_location is a required field.
                - code: "207"
                  message: Bad Request
                  reason: dropoff_location is a required field.
                  details: dropoff_location is a required field.
                - code: "217"
                  message: Bad Request
                  reason: vehicle_class_code is a required field.
                  details: vehicle_class_code is a required field and it is associated
                    with rate_code.
                - code: "218"
                  message: Bad Request
                  reason: rate_code is a required field.
                  details: rate_code is a required field and it is associated with
                    the vehicle_class_code.
                - code: "220"
                  message: Bad Request
                  reason: Confirmation Number is required field.
                  details: Confirmation Number is required field.
                - code: "22224"
                  message: Bad Request
                  reason: A One-Way Rental between given pickup_location and dropoff_location
                    is not available
                  details: A One-Way Rental between these 2  locations cannot be booked
                    online.
        "404":
          description: 404 Not Found is returned when server cannot find the matching
            request URI (either due to no results, or because of a non-existent endpoint
            or resource). Server may also respond with this status code when there
            is 401 or 403, which the service wants to mask for security reasons.
          schema:
            $ref: '#/definitions/error_404'
        "405":
          description: A request method is not supported for the requested resource;
            for example, a GET request on a form that requires data to be presented
            via POST, or a PUT request on a read-only resource.
          schema:
            $ref: '#/definitions/error_405'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "405"
                  message: Method Not Allowed
                  reason: Method Not Allowed
                  details: org.mule.module.apikit.exception.MethodNotAllowedException
        "406":
          description: The requested resource is capable of generating only content
            not acceptable according to the Accept headers sent in the request.
          schema:
            $ref: '#/definitions/error_406'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "406"
                  message: Not Accecptable
                  reason: Not Accecptable
                  details: org.mule.module.apikit.exception.NotAcceptableException
        "415":
          description: 500 Internal Server Error is returned when a system or application
            error has occurred. It generally indicates that something unexpected has
            gone wrong on the server. This is used for a standard server side exception
            for a persistent error on the server side.
          schema:
            $ref: '#/definitions/error_415'
          examples:
            application/json:
              status:
                request_time: 2018-10-17T13:05:10Z
                request_errors: 1
                errors:
                - code: "415"
                  message: Unsupported Media Type
                  reason: Unsupported Media Type
                  details: org.mule.module.apikit.exception.UnsupportedMediaTypeException
        "500":
          description: 500 Internal Server Error is returned when a system or application
            error has occurred. It generally indicates that something unexpected has
            gone wrong on the server. This is used for a standard server side exception
            for a persistent error on the server side.
          schema:
            $ref: '#/definitions/error_500'
          examples:
            application/json:
              status:
                request_time: 2019-01-04T15:15:30Z
                request_errors: 1
                errors:
                - code: "40018"
                  message: Service exception
                  reason: Service exception
                  details: Socket timeout from IMS Connect
                - code: "610"
                  message: Service exception
                  reason: System exception from e-com backend.
                  details: System Exception occurred during location search.Please
                    check the log for details.
      security:
      - OAuth2.0: []
      summary: /partner
definitions:
  code:
    description: ""
    type: string
  brand:
    title: The Avis, Budget, or Payless brand name
    description: ' ABG supported brand names like Avis, Budget, or Payless'
    enum:
    - Avis
    - Budget
    - Payless
    type: string
    example: Avis
  channel:
    title: Consumer channel
    description: "Consumer channel information. This information could be used for\
      \ personalization whenever applicable. \r\n  website - Standard website accessed\
      \ by the end user\r\n  agent_tool - Agent tool used by travel agent / Call centres\
      \ / retailers\r\n  mobile_app - Native mobile app accessed by the end user"
    enum:
    - website
    - mobile_app
    - agent_tool
    type: string
    example: website
  driver:
    title: Driver of the vehicle
    description: Indicator to represent the primary or secondary driver of the vehicle.
    enum:
    - primary
    - secondary
    type: string
    example: primary
  hour:
    title: Hour
    description: Hours in 24 hours ISO 8601 format.
    pattern: ^(?<hour>2[0-3]|[01][0-9]):?(?<minute>[0-5][0-9])$
    type: string
    example: 14:30
  iata_number:
    title: Partner IATA number
    description: International Air Transport Association (IATA) number. This is an
      identifier used by travel agents that allows the rental car company to pay the
      agent a commission for the rental.
    type: string
    example: "91212019"
  name:
    type: string
  language:
    allOf:
    - $ref: '#/definitions/code'
    - title: Language
    - description: 2-character ISO 639-1 Language Code. Default language will be picked
        up based on the partner configuration when there is no language provided in
        the request.
    - maxLength: 2
    - minLength: 2
    - enum:
      - EN
      - ES
      - IT
      - DE
      - NL
      - FR
    example: EN
  partner_code:
    allOf:
    - $ref: '#/definitions/code'
    - title: Partner code
    - description: The organization or entity code registered and obtained through
        partner onboarding process.
    example: SNCF
  partner_name:
    allOf:
    - $ref: '#/definitions/name'
    - title: Partner name
    - description: The organization or entity name registered and obtained through
        partner onboarding process.
    example: SNCF
  product_code:
    allOf:
    - $ref: '#/definitions/code'
    - title: Extras code
    - description: The rental ancillary code used to identify and add rental vehicle
        equipment and features to thereservation (such as GPS).
    - enum:
      - ADD
      - ADR
      - AFO
      - ATC
      - BBS
      - BKF
      - BKR
      - BXL
      - BXM
      - BXS
      - CBS
      - CCO
      - CCP
      - CFS
      - CHG
      - CIS
      - CNP
      - CSD
      - CSS
      - DCF
      - DEC
      - DIE
      - DIS
      - EPU
      - ESP
      - FRD
      - FSK
      - GEL
      - GPS
      - GSO
      - HDL
      - ICW
      - INC
      - IP5
      - IXB
      - MPG
      - NAV
      - NSF
      - PAC
      - RSN
      - SKI
      - SKR
      - SNC
      - SNW
      - STA
      - TAB
      - TCT
      - TPR
      - TRO
      - VCD
      - WFI
      - XMR
      - BAT
      - CSB
    example: GPS
  quantity:
    type: number
    example: 1
  success_details:
    title: Success details
    description: Success response metadata for all the rest APIs.
    type: array
    items:
      type: object
      properties:
        code:
          description: The HTTP status code value
          type: string
        message:
          description: The HTTP status code message
          type: string
        details:
          description: Description of the success status
          type: string
  success_status:
    title: Success status
    description: Success Status object
    required:
    - request_time
    - success
    type: object
    properties:
      request_time:
        allOf:
        - $ref: '#/definitions/date_time'
        - description: The time stamp of the request
      success:
        $ref: '#/definitions/success_details'
  status:
    allOf:
    - $ref: '#/definitions/success_status'
    - title: Request Status
    - description: A container for the success/error details.
  transaction_id:
    title: Transaction identifier
    description: The transaction identifier used to identify and troubleshoot a given
      request.
    type: string
    example: 391117cf-4470-4353-8b51-f00c3c098943
  transaction:
    title: Transaction
    description: Transaction details that may be used by your application to identify
      a request.
    type: object
    properties:
      id:
        $ref: '#/definitions/transaction_id'
      system_id:
        title: Internal correlation  identifier
        description: A unique identifier generated internally by the application to
          identify the payload and troubleshoot.
        type: string
        example: i9332ffa-5250-11e9-8647-d663bd873d78
  error_details:
    description: ' The following describes the elements that can appear in the response
      body of an error.'
    type: array
    items:
      type: object
      properties:
        code:
          description: The error code value
          type: string
        message:
          description: The HTTP status code message
          type: string
        reason:
          description: The reason the request has failed
          type: string
        details:
          description: Description of the error
          type: string
  error_status:
    title: Error status
    description: A container for the error details
    required:
    - request_time
    - errors
    - request_errors
    type: object
    properties:
      request_time:
        allOf:
        - $ref: '#/definitions/date_time'
        - description: The time stamp of the request
      request_errors:
        description: The number of errors that occurred
        type: integer
      errors:
        $ref: '#/definitions/error_details'
  error_response:
    required:
    - status
    type: object
    properties:
      status:
        allOf:
        - $ref: '#/definitions/error_status'
        - description: A container for the error details
  week_day:
    title: Working day
    description: Working and holidays day details.
    required:
    - day_of_week
    type: object
    properties:
      day_of_week:
        $ref: '#/definitions/week_day'
      hours:
        allOf:
        - $ref: '#/definitions/hours'
        - description: working hours.
  hours:
    title: Hours Slots
    description: Working and holidays working hour slots.
    type: array
    items:
      type: object
      properties:
        open:
          allOf:
          - $ref: '#/definitions/hour'
          - title: Opening hour
          - description: Opening hour slot in ISO 8601 format.
          example: 09:00
        close:
          allOf:
          - $ref: '#/definitions/hour'
          - title: Closing hour
          - description: Closing hour slot in ISO 8601 format.
          example: 780
  free_options:
    title: Free options
    description: Eligible free ancillary products and benefits offered.
    type: object
    properties:
      eligible_extras:
        title: Eligible extras
        description: Eligible ancillary products for selection.
        type: array
        items:
          $ref: '#/definitions/product_code'
        properties:
          quantity:
            allOf:
            - $ref: '#/definitions/quantity'
            - title: Eligible extras quantity
            - description: The total number of ancillary products.
      eligible_codes:
        title: Extra codes
        description: Eligible ancillary product codes.
        type: array
        items:
          $ref: '#/definitions/product_code'
      meet_and_greet:
        title: Meet and Greet
  domain:
    description: ""
    type: object
    properties:
      language:
        $ref: '#/definitions/language'
      channel:
        $ref: '#/definitions/channel'
  date_range:
    title: Date Range
    description: Date Range Intervals.
    required:
    - from
    - to
    type: object
    properties:
      from:
        allOf:
        - $ref: '#/definitions/date_time'
        - title: From date
        - description: Start date for the date range ISO 8601
        example: 2019-04-01T00:00:00.000Z
      to:
        allOf:
        - $ref: '#/definitions/date_time'
        - title: To date
        - description: "End date for the data range in ISO 8601 representation.\r\n\
            \    "
        example: 2019-06-30T23:59:59.000Z
  commercial_discount:
    title: Commercial discount
    description: "The commercial rental vehicle brand rewards program code (also known\
      \ as discount code). The discounts applied to the rate of the reservation.'\r\
      \n"
    required:
    - brand
    - code
    type: object
    properties:
      brand:
        $ref: '#/definitions/brand'
      code:
        $ref: '#/definitions/code'
      percent:
        title: Discount percentage
        description: The discount percentage applied to the reservation.
        type: integer
      free_options:
        allOf:
        - $ref: '#/definitions/free_options'
        - title: Free options
        - description: 'Eligible free ancillary products and benefits offered.  '
      pickup_date_range:
        allOf:
        - $ref: '#/definitions/date_range'
        - title: Pickup date range
        - description: ' Pickup date range for the eligibility of promotional discounts. '
      dropoff_date_range:
        allOf:
        - $ref: '#/definitions/date_range'
        - title: Dropoff date range
        - description: 'Dropoff date range for eligibility of the promotional discounts. '
      reservation_date_range:
        $ref: '#/definitions/date_range'
  partner:
    title: Partner information
    description: Travel partner information.
    required:
    - code
    type: object
    properties:
      code:
        $ref: '#/definitions/partner_code'
      name:
        $ref: '#/definitions/partner_name'
      iata_number:
        $ref: '#/definitions/iata_number'
  partner_program_v1_request:
    description: Commercially agreed partner loyalties and discounts to be sent in
      the request.
    type: object
    properties:
      transaction:
        $ref: '#/definitions/transaction'
      partner:
        $ref: '#/definitions/partner'
      domain:
        $ref: '#/definitions/domain'
      loyalty_discounts:
        $ref: '#/definitions/loyalty_discounts'
    example:
      transaction:
        id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
      partner:
        code: SNCF
      domain:
        language: EN
        channel: website
      loyalty_discounts:
      - rate_qualifiers:
          partner_loyalty:
            program: Voyageur
          partner_discount:
            program: Carte Jeune
        driver: primary
      - rate_qualifiers:
          partner_loyalty:
            program: GRAND VOYAGEUR LE CLUB
          partner_discount:
            program: Carte Jeune
        driver: secondary
  partner_program_v1_response:
    description: All the available Discounts and free extra product details for Avis
      Budget Group vehicles which are applicable to passengers loyalty cards.
    type: object
    properties:
      status:
        $ref: '#/definitions/success_status'
      transaction:
        $ref: '#/definitions/transaction'
      domain:
        $ref: '#/definitions/domain'
      loyalty_discounts:
        $ref: '#/definitions/loyalty_discounts'
    example:
      status:
        request_time: 2018-10-25T12:01:54Z
        success:
        - code: "200"
          message: Success
          details: Loyalty details are successfully retrieved.
      transaction:
        id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
        system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
      domain:
        language: EN
      loyalty_discounts:
      - rate_qualifiers:
          partner_loyalty:
            program: Voyageur
          partner_discount:
            program: San carte
        mapped_discounts:
        - brand: Avis
          code: X5212064
          percent: 15
          free_options:
            eligible_extras:
              quantity: 1
            eligible_codes:
            - ADD
            - GPS
            - BBS
            - CBS
            - CSS
            - SKR
            - SNC
        - brand: Budget
          code: L824502
          percent: 10
          free_options:
            eligible_extras:
              quantity: 0
        best_discount: true
      - rate_qualifiers:
          partner_loyalty:
            program: GRAND VOYAGEUR LE CLUB
          partner_discount:
            program: Carte Jeune
        mapped_discounts:
        - brand: Avis
          code: X5212067
          percent: 10
          free_options:
            eligible_extras:
              quantity: 1
            eligible_codes:
            - ADD
            - GPS
            - BBS
            - CBS
            - CSS
            - SKR
            - SNC
        - brand: Budget
          code: L824502
          percent: 10
          free_options:
            eligible_extras:
              quantity: 0
  partner_v1_response:
    title: Loyalty tier lookup information
    description: Partner loyalty and discount cards with associated ABG discounts
      codes and free options.
    type: object
    properties:
      status:
        $ref: '#/definitions/success_status'
      transaction:
        $ref: '#/definitions/transaction'
      domain:
        $ref: '#/definitions/domain'
      loyalty_discounts:
        $ref: '#/definitions/loyalty_discounts'
    example:
      status:
        request_time: 2018-10-25T12:01:54Z
        success:
        - code: "200"
          message: Success
          details: Loyalty details are successfully retrieved.
      transaction:
        id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
        system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
      domain:
        language: EN
      loyalty_discounts:
      - rate_qualifiers:
          partner_loyalty:
            program: SANS CARTE
          partner_discount:
            program: SANS CARTE
        mapped_discounts:
        - brand: Avis
          code: X5212058
          percent: 10
          free_options:
            eligible_extras:
              quantity: 0
        - brand: Budget
          code: L824502
          percent: 10
          free_options:
            eligible_extras:
              quantity: 0
      - rate_qualifiers:
          partner_loyalty:
            program: VOYAGEUR
          partner_discount:
            program: SANS CARTE
        mapped_discounts:
        - brand: Avis
          code: X5212059
          percent: 15
          free_options:
            eligible_extras:
              quantity: 1
            eligible_codes:
            - ADD
            - GPS
            - BBS
            - CBS
            - CSS
            - SKR
            - SNC
        - brand: Budget
          code: L824502
          percent: 15
          free_options:
            eligible_extras:
              quantity: 0
  loyalty_discounts:
    title: Loyalty lookup
    description: General loyalty lookup information. Acts as a passenger context on
      request. The response includes Mapped ABG discounts and best discount.
    type: array
    items:
      properties:
        rate_qualifiers:
          $ref: '#/definitions/brand'
        mapped_discounts:
          title: Mapped discounts
          description: Mapped Avis Budget Group discounts along with their free options.
          type: array
          items:
            $ref: '#/definitions/commercial_discount'
        best_discount:
          title: Best discoun
          description: Represent the best discount with the provided passenger(s)
            information when there is more than one passenger.
          type: boolean
        driver:
          $ref: '#/definitions/driver'
  error_400:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: ' 400 Bad Request is returned when the request could not be understood
        by the server. 400 includes missing required values, invalid data types, minimum/maximum
        values, ranges and format.'
    - required:
      - status
    - properties:
        status:
          $ref: '#/definitions/status'
  error_404:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: "404 Not Found is returned when server cannot find the matching\
        \ request URI (either due to no results, or because of a non-existent endpoint\
        \ or resource). Server may also respond with this status code when there is\
        \ 401 or 403, which the service wants to mask for security reasons.\r\n\r\n"
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_405:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: A request method is not supported for the requested resource; for
        example, a GET request on a form that requires data to be presented via POST,
        or a PUT request on a read-only resource.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_406:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: A request method is not supported for the requested resource; for
        example, a GET request on a form that requires data to be presented via POST,
        or a PUT request on a read-only resource.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_415:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: The request entity has a media type which the server or resource
        does not support. For example, the client uploads an image as image/svg+xml,
        but the server requires that images use a different format.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  error_500:
    allOf:
    - $ref: '#/definitions/error_response'
    - description: 500 Internal Server Error is returned when a system or application
        error has occurred. It generally indicates that something unexpected has gone
        wrong on the server. This is used for a standard server side exception for
        a persistent error on the server side.
    - required:
      - status
    - type: object
    - properties:
        status:
          allOf:
          - $ref: '#/definitions/status'
          - description: A container for the error details
  date_time:
    format: datetime
    description: ISO 8601 representation of the date time.
    type: string
    example: 2015-07-04T21:00:00.000Z
parameters:
  brand:
    name: brand
    in: query
    type: string
    enum:
    - Avis
    - Budget
    - Payless
  partner_code:
    name: partner_code
    description: The organization or entity code registered and obtained through partner
      onboarding process.
    in: query
    required: true
    type: string
  language:
    name: language
    description: 2-character ISO 639-1 Language Code. Default language will be picked
      up based on the partner configuration when there is no language provided in
      the request.
    in: query
    type: string
    maxLength: 2
    minLength: 2
    enum:
    - EN
    - ES
    - IT
    - DE
    - NL
    - FR
  channel:
    name: channel
    description: "Consumer channel information. This information could be used for\
      \ personalization whenever applicable. \r\n  website - Standard website accessed\
      \ by the end user\r\n  agent_tool - Agent tool used by travel agent / Call centres\
      \ / retailers\r\n  mobile_app - Native mobile app accessed by the end user"
    in: query
    type: string
    enum:
    - website
    - mobile_app
    - agent_tool
  transaction_id:
    name: transaction_id
    description: The transaction identifier used to identify and troubleshoot a given
      request.
    in: query
    type: string
  client_id:
    name: client_id
    description: Your client identifier.
    in: header
    required: true
    type: string
    maxLength: 50
    minLength: 8
responses:
  partner_v1_response:
    description: ""
    schema:
      $ref: '#/definitions/partner_v1_response'
    examples:
      application/json:
        status:
          request_time: 2018-10-25T12:01:54Z
          success:
          - code: "200"
            message: Success
            details: Loyalty details are successfully retrieved.
        transaction:
          id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
          system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
        domain:
          language: EN
        loyalty_discounts:
        - rate_qualifiers:
            partner_loyalty:
              program: SANS CARTE
            partner_discount:
              program: SANS CARTE
          mapped_discounts:
          - brand: Avis
            code: X5212058
            percent: 10
            free_options:
              eligible_extras:
                quantity: 0
          - brand: Budget
            code: L824502
            percent: 10
            free_options:
              eligible_extras:
                quantity: 0
        - rate_qualifiers:
            partner_loyalty:
              program: VOYAGEUR
            partner_discount:
              program: SANS CARTE
          mapped_discounts:
          - brand: Avis
            code: X5212059
            percent: 15
            free_options:
              eligible_extras:
                quantity: 1
              eligible_codes:
              - ADD
              - GPS
              - BBS
              - CBS
              - CSS
              - SKR
              - SNC
          - brand: Budget
            code: L824502
            percent: 15
            free_options:
              eligible_extras:
                quantity: 0
  partner_program_v1_response:
    description: ""
    schema:
      $ref: '#/definitions/partner_program_v1_response'
    examples:
      application/json:
        status:
          request_time: 2018-10-25T12:01:54Z
          success:
          - code: "200"
            message: Success
            details: Loyalty details are successfully retrieved.
        transaction:
          id: 227a1700-43e1-11e9-95ce-e6a7a0e31bec
          system_id: C56a1700-43e1-11e9-95ce-e6a7a0e31bec
        domain:
          language: EN
        loyalty_discounts:
        - rate_qualifiers:
            partner_loyalty:
              program: Voyageur
            partner_discount:
              program: San carte
          mapped_discounts:
          - brand: Avis
            code: X5212064
            percent: 15
            free_options:
              eligible_extras:
                quantity: 1
              eligible_codes:
              - ADD
              - GPS
              - BBS
              - CBS
              - CSS
              - SKR
              - SNC
          - brand: Budget
            code: L824502
            percent: 10
            free_options:
              eligible_extras:
                quantity: 0
          best_discount: true
        - rate_qualifiers:
            partner_loyalty:
              program: GRAND VOYAGEUR LE CLUB
            partner_discount:
              program: Carte Jeune
          mapped_discounts:
          - brand: Avis
            code: X5212067
            percent: 10
            free_options:
              eligible_extras:
                quantity: 1
              eligible_codes:
              - ADD
              - GPS
              - BBS
              - CBS
              - CSS
              - SKR
              - SNC
          - brand: Budget
            code: L824502
            percent: 10
            free_options:
              eligible_extras:
                quantity: 0
  error_responce_406:
    description: The requested resource is capable of generating only content not
      acceptable according to the Accept headers sent in the request.
    schema:
      $ref: '#/definitions/error_406'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "406"
            message: Not Accecptable
            reason: Not Accecptable
            details: org.mule.module.apikit.exception.NotAcceptableException
  error_response_400:
    description: 400 Bad Request is returned when the request could not be understood
      by the server. 400 includes missing required values, invalid data types, minimum/maximum
      values, ranges and format.
    schema:
      $ref: '#/definitions/error_400'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "400"
            message: Bad Request
            reason: invalid_request
            details: '- Missing required field ''brand'''
          - code: "400"
            message: Bad Request
            reason: invalid_request
            details: '- Invalid element <AVIS>.'
          - code: "14528"
            message: Bad Request
            reason: Invalid rate_code.
            details: Rate Code entered is invalid.
          - code: "14184"
            message: Bad Request
            reason: Last name and customer id combination is invalid.
            details: 'Last name does not match the wizard number '
          - code: "14441"
            message: Bad Request
            reason: Bad Request
            details: Bad Request
          - code: "1112"
            message: Bad Request
            reason: Invalid coupon_code and IATA number combination.
            details: This coupon requires an IATA / ARC number.  Please enter your
              number below or remove the coupon from this reservation.
          - code: "14299"
            message: Bad Request
            reason: Bad Request
            details: Invalid insurance details
          - code: "13213"
            message: Bad Request
            reason: Country Code is invalid
            details: Please enter a valid Country Code.
          - code: "14442"
            message: Bad Request
            reason: RENTAL DURATION LESS THAN MINIMUM
            details: RENTAL DURATION LESS THAN MINIMUM
          - code: "1103"
            message: Bad Request
            reason: Invalid Country/Coupon Code
            details: This station does not participate.  Valid at corporate/participating
              licensees in the U.S. (excluding Alaska, Hawaii and the New York Metro),
              Canada, Australia, New Zealand, France, Puerto Rico, United Kingdom
              and U.S. Virgin Islands.
          - code: "14372"
            message: Bad Request
            reason: Invalid coupon_code
            details: The Coupon Number entered is invalid.
          - code: "14374"
            message: Bad Request
            reason: coupon_code is invalid for the given time frame.
            details: The Coupon Number entered does not meet the minimum days requirement.
              Please check the terms and conditions or remove to continue this reservation.
          - code: "19076"
            message: Bad Request
            reason: Invalid loyalty_code membership_code
            details: Membership Number entered is invalid.
          - code: "235"
            message: Bad Request
            reason: loyalty_code and loyalty_company_id are required parameters for
              the selection of Frequent Travel Program.
            details: If you have selected a Frequent Traveler Program, than you must
              enter a Membership Number
          - code: "14075"
            message: Bad Request
            reason: RateCode requires a valid discount number in the request.
            details: ' The rate code you entered requires a discount number. Please
              go back and enter your discount number or remove the rate code you entered.'
          - code: "1798"
            message: Bad Request
            reason: Invalid discount_number.
            details: Invalid AWD
          - code: "14022"
            message: Bad Request
            reason: Invalid vehicle_class_code
            details: Requested Car Group is invalid.
          - code: "12012"
            message: Bad Request
            reason: Invalid city
            details: MSGCD_E_WIZ_CITY_NAME_REQUIRED
          - code: "14105"
            message: Bad Request
            reason: Invalid rate_code.
            details: Invalid Vehicle rate code and class code combination for the
              provided brand.
          - code: "208"
            message: Bad Request
            reason: Invalid customer_id.
            details: Invalid Wizard number for the customer.
          - code: "205"
            message: Bad Request
            reason: Invalid dropoff_location.
            details: Invalid Drop off location
          - code: "203"
            message: Bad Request
            reason: Invalid pickup_location.
            details: Invalid Pick up location
          - code: "231"
            message: Bad Request
            reason: Invalid pickup_date.
            details: You selected a date/time prior to the current time
          - code: "232"
            message: Bad Request
            reason: dropoff_date is prior to pickup_date.
            details: Return Date cannot be prior or same to the Pick-Up Date
          - code: "237"
            message: Bad Request
            reason: Invalid flight carrier_name.
            details: Please select valid Airline
          - code: "239"
            message: Bad Request
            reason: Invalid filght carrier_code.
            details: Please enter a valid flight number. Flight Number format is a
              maximum 4 numbers. Please omit letters from your flight number
          - code: "234"
            message: Bad Request
            reason: Invalid frequent_flyer_number.
            details: If you have entered a Membership Number, then you must select
              a Frequent Traveler Program.
          - code: "209"
            message: Bad Request
            reason: Invalid coupon_number.
            details: Please enter a valid Coupon Number.
          - code: "216"
            message: Bad Request
            reason: Invalid discount_number.
            details: The discount number is invalid for the given Avis.
          - code: "150004"
            message: Bad Request
            reason: last_name and confirmation_number combination is invalid.
            details: Last name entered does not match with the confirmation number
          - code: "19082"
            message: Bad Request
            reason: Bad Request
            details: Bad Request from e-Com backend.
          - code: "1122"
            message: Bad Request
            reason: Coupon_code is expired.
            details: Coupon requires a minimum length of 3 days. Please select a rate
              to continue (coupon will be removed).
          - code: "300100"
            message: Bad Request
            reason: PrePayReservationCurrency must be required
            details: PrePayReservationCurrency must be required
          - code: "300101"
            message: Bad Request
            reason: PrePayReservationAmount must be required
            details: PrePayReservationAmount must be required
          - code: "300111"
            message: Bad Request
            reason: Prepay information details are required for the Prepay type.
            details: Prepay Information must be required.
          - code: "900909"
            message: Bad Request
            reason: cvv is invalid for the provided Credit Card.
            details: cvv is invalid for the provided Credit Card.
          - code: "300102"
            message: Bad Request
            reason: Credit Card details are mandatory.
            details: Valid Credit Card Details must be required
          - code: "14220"
            message: Bad Request
            reason: Payment details are invalid.
            details: The number either doesn't match the card type or is the wrong
              length. Please check your entries and try again
          - code: "215"
            message: Bad Request
            reason: Invalid email.
            details: Invalid email address
          - code: "14025"
            message: Bad Request
            reason: Bad Request.
            details: Bad Request from e-Com backend.
          - code: "19001"
            message: Bad Request
            reason: country_code,state_name and postal_code combination is invalid.
            details: Invalid zip code.
          - code: "212"
            message: Bad Request
            reason: last_name is required.
            details: Last Name is required
          - code: "210"
            message: Bad Request
            reason: first_name is mandatory.
            details: First Name is required
          - code: "14126"
            message: Bad Request
            reason: dropoff_date and pickup_date combination is invalid.
            details: Pick-up Date can not be after Return Date.
          - code: "14129"
            message: Bad Request
            reason: Invalid pickup_date.
            details: pickup_date is less than the current date.
          - code: "226"
            message: Bad Request
            reason: Invalid dropoff_location.
            details: There are no locations available for your Return address.
          - code: "225"
            message: Bad Request
            reason: Invalid pickup_location.
            details: There are no locations available for your Pick-up address.
          - code: "227"
            message: Bad Request
            reason: Invalid pickup_location and dropoff_location.
            details: Sorry! No Avis locations are available in address provided.
          - code: "219"
            message: Bad Request
            reason: Missing partner_country_code.
            details: Country of residence is required.
          - code: "19074"
            message: Bad Request
            reason: Invalid Vehicle rate code and class code combination for the provided
              brand.
            details: ' Rate Code entered is invalid.'
          - code: "1005"
            message: Bad Request
            reason: 'e-Com rejected the request due to data issue. '
            details: Request is invalid.
          - code: "1109"
            message: Bad Request
            reason: Coupon is applicable only for certain discount types.
            details: 'This coupon requires one of the following discount number types:
              {0}.'
          - code: "1203"
            message: Bad Request
            reason: Invalid coupon and discount combination.
            details: This coupon {0} may only be used with a specific AWD number (see
              offer terms). Please enter this AWD number to continue or select from
              available cars to continue without the coupon.
          - code: "1124"
            message: Bad Request
            reason: Invalid coupon and brand combination.
            details: This coupon may only be used on  W G car groups. Please select
              from one of these groups or select a different one to proceed without
              the coupon.
          - code: "200"
            message: Bad Request
            reason: Brand is a required field.
            details: Brand is a required field.
          - code: "202"
            message: Bad Request
            reason: pickup_location is a required field.
            details: pickup_location is a required field.
          - code: "206"
            message: Bad Request
            reason: pickup_location is a required field.
            details: pickup_location is a required field.
          - code: "204"
            message: Bad Request
            reason: dropoff_location is a required field.
            details: dropoff_location is a required field.
          - code: "207"
            message: Bad Request
            reason: dropoff_location is a required field.
            details: dropoff_location is a required field.
          - code: "217"
            message: Bad Request
            reason: vehicle_class_code is a required field.
            details: vehicle_class_code is a required field and it is associated with
              rate_code.
          - code: "218"
            message: Bad Request
            reason: rate_code is a required field.
            details: rate_code is a required field and it is associated with the vehicle_class_code.
          - code: "220"
            message: Bad Request
            reason: Confirmation Number is required field.
            details: Confirmation Number is required field.
          - code: "22224"
            message: Bad Request
            reason: A One-Way Rental between given pickup_location and dropoff_location
              is not available
            details: A One-Way Rental between these 2  locations cannot be booked
              online.
  error_response_404:
    description: "404 Not Found is returned when server cannot find the matching request\
      \ URI (either due to no results, or because of a non-existent endpoint or resource).\
      \ Server may also respond with this status code when there is 401 or 403, which\
      \ the service wants to mask for security reasons.\r\n\r\n"
    schema:
      $ref: '#/definitions/error_404'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "404"
            message: Resource Not Found
            reason: resource_failure
            details: Server cannot find the requested resource. This may be due to
              incorrect URI or a resource that is not available.
          - code: "223"
            message: Not Found
            reason: Invalid pickup_location.
            details: The pick-up location entered is Sold Out for the dates you have
              entered
          - code: "14036"
            message: Not Found
            reason: Reservation already cancelled
            details: Reservation is already cancelled for the given confirmation_number.
          - code: "14381"
            message: Not Found
            reason: 'A One-Way Rental between given pickup_location and dropoff_location
              is not available '
            details: 'A One-Way Rental between given pickup_location and dropoff_location
              is not available '
  error_response_405:
    description: A request method is not supported for the requested resource; for
      example, a GET request on a form that requires data to be presented via POST,
      or a PUT request on a read-only resource.
    schema:
      $ref: '#/definitions/error_405'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "405"
            message: Method Not Allowed
            reason: Method Not Allowed
            details: org.mule.module.apikit.exception.MethodNotAllowedException
  error_response_415:
    description: The request entity has a media type which the server or resource
      does not support. For example, the client uploads an image as image/svg+xml,
      but the server requires that images use a different format.
    schema:
      $ref: '#/definitions/error_415'
    examples:
      application/json:
        status:
          request_time: 2018-10-17T13:05:10Z
          request_errors: 1
          errors:
          - code: "415"
            message: Unsupported Media Type
            reason: Unsupported Media Type
            details: org.mule.module.apikit.exception.UnsupportedMediaTypeException
  error_response_500:
    description: 500 Internal Server Error is returned when a system or application
      error has occurred. It generally indicates that something unexpected has gone
      wrong on the server. This is used for a standard server side exception for a
      persistent error on the server side.
    schema:
      $ref: '#/definitions/error_500'
    examples:
      application/json:
        status:
          request_time: 2019-01-04T15:15:30Z
          request_errors: 1
          errors:
          - code: "40018"
            message: Service exception
            reason: Service exception
            details: Socket timeout from IMS Connect
          - code: "610"
            message: Service exception
            reason: System exception from e-com backend.
            details: System Exception occurred during location search.Please check
              the log for details.
securityDefinitions:
  OAuth2.0:
    flow: application
    tokenUrl: https://stage.abgapiservices.com/oauth/token/v1
    scopes:
      scope-1: ""
    type: oauth2
security:
- OAuth2.0: []
